<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Sell | Freelancer</title>
    <link rel="stylesheet" href="../fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="sell-body">
<header class="header">
    <div class="wrapper">
        <div class="wrapper--header">
            <div class="header__logo">
                <a href="../index.html" class="header__logo__link">
                    <img src="../img/header-logo.png" class="header__logo__img" alt="header-logo"/>
                </a>
            </div>
            <div class="header__menu--mobile" id="menu-open">
            <span class="header__menu--mobile__item">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </span>
            </div>
            <div class="header--menu-log-menu">
                <ul class="header__menu">
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">Buy</a>
                    </li>
                    <li class="header__menu__item">
                        <a href="sell.html" class="header__menu__link">Sell</a>
                    </li>
                    <li class="header__menu__item">
                        <a href="#" class="header__menu__link">How it works</a>
                    </li>
                </ul>
                <ul class="header__log-menu">
                    <li class="header__log-menu__post">
                        <a href="job.html" class="header__log-menu__post__link">Post a job</a>
                    </li>
                    <li class="header__log-menu__log">
                        <a href="#" class="header__log-menu__log__link">Log in</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main class="main">
    <div class="wrapper">
        <div class="sell">
            <section class="sell__section">
                <h1 class="sell__section__title">Freelance Jobs</h1>
                <p class="sell__section__text">6,792 found</p>
                <div class="sell__section__sort">
                    <label for=""></label>
                    <select name="" id="" class="sell__section__sort__select">
                        <option value="">Sort by</option>
                        <option value="">Sort by</option>
                        <option value="">Sort by</option>
                        <option value="">Sort by</option>
                    </select>
                </div>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Service agreement for technical courier company</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Logo Design</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Social media manager</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Service agreement for technical courier company</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Instagram auto liker</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Online configurator tool to be built</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Service agreement for technical courier company</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__row">
                    <div class="sell__section__row__list">
                        <h5 class="sell__section__row__title">Seeking WordPress developer to fix IPAD issues</h5>
                        <p class="sell__section__row__text">$78
                            <span class="sell__section__row__span">(Fixed price)</span>
                        </p>
                    </div>
                    <div class="sell__section__row__list">
                        <div class="sell__section__row__list__child">
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/time-icon.png" alt="time" class="sell__section__row__list__child__img"/>
                                <span>5 minutes ago</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/location.png" alt="location" class="sell__section__row__list__child__img"/>
                                <span>Remote</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/proposal-icon.png" alt="proposal" class="sell__section__row__list__child__img"/>
                                <span>Proposal  4</span>
                            </div>
                            <div class="sell__section__row__list__child__note">
                                <img src="../img/heart.png" alt="heart" class="sell__section__row__list__child__img"/>
                                <span>10</span>
                            </div>
                        </div>
                        <div class="sell__section__row__list__child">
                            <a href="#" class="sell__section__row__list__button">Send proposal</a>
                        </div>
                    </div>
                </section>
                <section class="sell__section__pagination">
                    <ul class="sell__section__pagination__menu">
                        <li class="sell__section__pagination__item">1</li>
                        <li class="sell__section__pagination__item">2</li>
                        <li class="sell__section__pagination__item">3</li>
                        <li class="sell__section__pagination__item">4</li>
                    </ul>
                </section>
            </section>
            <aside class="sell__aside">
                <div class="sell__aside__form">
                    <label for="search"></label>
                    <input type="text" id="search" placeholder="Search a job" class="sell__aside__form__input"/>
                    <img src="../img/search.png" alt="search" class="sell__aside__form__img"/>
                </div>
                <div class="sell__aside__list">
                    <h3 class="sell__aside__list__title">SAVED SEARCHES</h3>
                    <div class="sell__aside__list__row">
                        <p class="sell__aside__list__row__title">Current Search</p>
                        <p class="sell__aside__list__row__number">save</p>
                    </div>
                </div>
                <div class="sell__aside__list">
                    <h3 class="sell__aside__list__title">EXPERIENCE LEVEL</h3>
                    <div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Entry ($)</p>
                            <p class="sell__aside__list__row__number">1040</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Intermediate ($$)</p>
                            <p class="sell__aside__list__row__number">3025</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Expert ($$$)</p>
                            <p class="sell__aside__list__row__number">6400</p>
                        </div>
                    </div>
                </div>
                <div class="sell__aside__list">
                    <h3 class="sell__aside__list__title">LOCATION</h3>
                    <div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">All Jobs</p>
                            <p class="sell__aside__list__row__number">6570</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Remote Jobs only</p>
                            <p class="sell__aside__list__row__number">8450</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">On-site Jobs near me</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                    </div>
                </div>
                <div class="sell__aside__list">
                    <h3 class="sell__aside__list__title">CATEGORIES</h3>
                    <div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">All Categories</p>
                            <p class="sell__aside__list__row__number">6570</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Design</p>
                            <p class="sell__aside__list__row__number">8450</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Web Development</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Video, Photo & Audio</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Marketing & PR</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Writing</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Software Development</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Admin</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Search Marketing</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Social Media</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Mobile</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Translation</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Creative Arts</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Extraordinary</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Tutorials</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                    </div>
                </div>
                <div class="sell__aside__list">
                    <h3 class="sell__aside__list__title">FILTERS</h3>
                    <div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">All Jobs</p>
                            <p class="sell__aside__list__row__number">6570</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Urgent</p>
                            <p class="sell__aside__list__row__number">8450</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">With no Proposals</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                        <div class="sell__aside__list__row">
                            <p class="sell__aside__list__row__title">Pre-Funded</p>
                            <p class="sell__aside__list__row__number">50</p>
                        </div>
                    </div>
                </div>
                <div class="sell__aside__list">
                    <h3 class="sell__aside__list__title">JOB TYPE</h3>
                    <ul class="sell__aside__radio-form">
                        <li class="sell__aside__radio-form__item">
                            <input type="radio" id="f-option" name="selector" class="sell__aside__radio-form__input">
                            <label for="f-option" class="sell__aside__radio-form__label">All</label>
                            <div class="check"></div>
                        </li>
                        <li class="sell__aside__radio-form__item">
                            <input type="radio" id="s-option" name="selector" class="sell__aside__radio-form__input">
                            <label for="s-option" class="sell__aside__radio-form__label">Fixed</label>
                            <div class="check"></div>
                        </li>
                        <li class="sell__aside__radio-form__item">
                            <input type="radio" id="t-option" name="selector" class="sell__aside__radio-form__input">
                            <label for="t-option" class="sell__aside__radio-form__label">Per Hour</label>
                            <div class="check"></div>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</main>
<footer class="footer">
    <section class="footer--wrapper">
        <div class="wrapper">
            <div class="footer__box">
                <div class="footer__box__column">
                    <h3 class="footer__box__title">Company</h3>
                    <ul class="footer__box__list">
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">About us</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Careers</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Our team</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Press</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Enterprise solutions</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__box__column">
                    <h3 class="footer__box__title">Categories</h3>
                    <ul class="footer__box__list">
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Web and mobile design</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Business</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Market research</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Website development</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Product management</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__box__column">
                    <h3 class="footer__box__title">Help</h3>
                    <ul class="footer__box__list">
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">How it works</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Support</a>
                        </li>
                        <li class="footer__box__list__item">
                            <a href="#" class="footer__box__list__link">Trust & safety</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__box__column">
                    <h3 class="footer__box__title">Newsletter</h3>
                    <p class="footer__box__list__link">Enter your e-mail and subscribe to our newsletter</p>
                    <form class="footer__box__form">
                        <input type="text" placeholder="your e-mail" class="footer__box__form__input"/>
                        <button class="footer__box__form__button">subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="social-footer">
        <div class="wrapper">
            <div class="social-footer__box">
                <div class="social-footer__item">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="social-footer__item">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="social-footer__item">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="social-footer__item">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </div>
            </div>
            <p class="social-footer__copyright">© 2017.Privacy Policy</p>
        </div>
    </section>
</footer>
<script src="../js/js-libs.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>