<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Nectar</title>
	<link rel="stylesheet" href="../fontAwesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/owl.carousel.min.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
	<header class="header inner-header">
		<div class="wrapper wrapper--header">
			<div class="header__logo">
				<a href="#" class="header__logo__link">
					<img src="../img/header-logo.png" class="header__logo__img" alt="logo"/>
				</a>
			</div>
			<div class="header__menu--mobile" id="menu-open">
				<span class="header__menu--mobile__item">
					<i class="fa fa-bars" aria-hidden="true"></i>
				</span>
			</div>
			<ul class="header__menu">
				<li class="header__menu__item">
					<a href="../index.html" class="header__menu__link">The Mattress</a>
				</li>
				<li class="header__menu__item">
					<a href="blog.html" class="header__menu__link">Reviews</a>
				</li>
				<li class="header__menu__item">
					<a href="#" class="header__menu__link">Home Trial</a>
				</li>
				<li class="header__menu__item">
					<a href="#" class="header__menu__link">Better Sleep</a>
				</li>
				<li class="header__menu__item">
					<a href="#" class="header__menu__link">Back Pain</a>
				</li>
			</ul>
		</div>
	</header>
	<main class="main">
		<div class="wrapper">
			<section class="inner-banner">
				<h2 class="inner-banner__title">The World’s Biggest Sleep Study is About to Start: You’re Invited</h2>
				<figure class="inner-banner__figure">
					<div class="inner-banner__img-box">
						<img src="../img/inner-banner.png" alt="banner" class="inner-banner__img"/>
					</div>
					<figcaption class="inner-banner__figcaption">
						<div class="inner-banner__figcaption__title">
							By Emily Johnson<span class="inner-banner__figcaption__time"> / 07.07.17</span>
						</div>
						<div class="inner-banner__figcaption__social">
							<p class="inner-banner__figcaption__social__title">Share:</p>
							<a href="#" class="inner-banner__figcaption__social__link">
								<img src="../img/fb.png" alt="facebook"/>
							</a>
							<a href="#" class="inner-banner__figcaption__social__link">
								<img src="../img/tw.png" alt="twitter"/>
							</a>
							<a href="#" class="inner-banner__figcaption__social__link">
								<img src="../img/insta.png" alt="instagram"/>
							</a>
							<a href="#" class="inner-banner__figcaption__social__link">
								<img src="../img/pint.png" alt="pinterest"/>
							</a>
						</div>
					</figcaption>
				</figure>
			</section>
			<article class="inner-article">
				<p class="inner-article__text">
					There are new sleep breakthroughs on the way from Canada. Brain scientists in Ontario are hoping to recruit up to 100,000 people to take
					part in the sleep study. The study will focus on how sleep affects memory, problem solving, and cognitive functions. They have developed a
					suite of twelve online tests, to test these hypotheses — so easy that they can be done right from the comfort of a NECTAR mattress.
				</p>
				<h3 class="inner-article__title">Insomnia’s Effects Can Be Different For Everyone</h3>
				<p class="inner-article__text">
					First of all, there’s a lot about sleep and sleep deprivation. We just don’t know yet its effects on the brain.” said Bobby Stojanoski, one of
					the research scientists. “For instance, how much sleep is necessary? Is that true for everybody?”
					While some of these topics have been covered by other researchers (and by us in previous NECTAR blogs) there hasnever been a study
					with such a large base to pull from. Their secret? Free mattresses, just kidding. It’s a quick and simple brain function test.
				</p>
				<h3 class="inner-article__title">Games to Find the Perfect Sleep</h3>
				<p class="inner-article__text">
					In proving that even scientists want to have fun, they’ve developed the study to take the form of games featuring odd shapes, sequential
					numbering, and even grammatical tests.
					Consequently, this is great news for current sleep deprivation sufferers, and gives hope to all of us.
				</p>
				<h3 class="inner-article__title">New Sleep Breakthroughs Just Around the Corner</h3>
				<p class="inner-article__text">
					Because of this, there will be more as this study develops, so be sure to check back at the NECTAR blog for news and insights into where
					this could lead us. Sleep is the foundation for your health, and it’s always good to know how that foundation works. NECTAR mattresses
					are a great place to start when trying to revitalize your own sleep schedule. NECTAR uses all the latest in sleep technology. A NECTAR
					mattresses’ base measures over a 2.2 ILD rating, which evaluates foam density, and is molded to draw fresh air in through special channels.
					This makes your time in bed cool, calm, and restful. Sounds like a great fit, no matter where you live.
				</p>
			</article>
			<section class="inner-tags">
				<p class="inner-tags__title">Tags:</p>
				<a href="#" class="inner-tags__item">sleep</a>
				<a href="#" class="inner-tags__item">breakthroughts</a>
			</section>
			<section class="inner-social">
				<div class="wrapper--inner-social">
					<p class="inner-social__title">Share:</p>
					<a href="#" class="inner-social__link">
						<img src="../img/big-fb.png" alt="facebook" />
					</a>
					<a href="#" class="inner-social__link">
						<img src="../img/big-tw.png" alt="twitter" class="inner-social__img"/>
					</a>
					<a href="#" class="inner-social__link">
						<img src="../img/big-insta.png" alt="instagram" class="inner-social__img"/>
					</a>
					<a href="#" class="inner-social__link">
						<img src="../img/big-pint.png" alt="pinterest" class="inner-social__img"/>
					</a>
					<a href="#" class="inner-social__link">
						<img src="../img/print.png" alt="print" class="inner-social__img"/>
					</a>
				</div>
			</section>
			<section class="inner-gallery">
				<h3 class="inner-gallery__title">Related posts</h3>
				<div class="inner-gallery__row">
					<a href="#">
						<figure class="inner-gallery__figure">
							<div class="inner-gallery__figure__img-box">
								<img src="../img/img1.png" alt="img" class="inner-gallery__figure__img"/>
							</div>
							<figcaption class="inner-gallery__figcaption">
								<div class="inner-gallery__figure__note">
									<img src="../img/small-glass.png" alt="icon"/>&nbsp;&nbsp;53
								</div>
								<div class="inner-gallery__figure__text">
									<p>Behind the Scenes: Comfortable Foam Mattresses</p>
								</div>
							</figcaption>
						</figure>
					</a>
					<a href="#">
						<figure class="inner-gallery__figure">
							<div class="inner-gallery__figure__img-box">
								<img src="../img/img2.png" alt="img" class="inner-gallery__figure__img"/>
							</div>
							<figcaption class="inner-gallery__figcaption">
								<div class="inner-gallery__figure__note">
									<img src="../img/small-glass.png" alt="icon"/>&nbsp;&nbsp;53
								</div>
								<div class="inner-gallery__figure__text">
									<p>Behind the Scenes: Comfortable Foam Mattresses</p>
								</div>
							</figcaption>
						</figure>
					</a>
					<a href="#">
						<figure class="inner-gallery__figure">
							<div class="inner-gallery__figure__img-box">
								<img src="../img/img4.png" alt="img" class="inner-gallery__figure__img"/>
							</div>
							<figcaption class="inner-gallery__figcaption">
								<div class="inner-gallery__figure__note">
									<img src="../img/small-glass.png" alt="icon"/>&nbsp;&nbsp;53
								</div>
								<div class="inner-gallery__figure__text">
									<p>Behind the Scenes: Comfortable Foam Mattresses</p>
								</div>
							</figcaption>
						</figure>
					</a>
					<a href="#">
						<figure class="inner-gallery__figure inner-gallery-display">
							<div class="inner-gallery__figure__img-box">
								<img src="../img/img5.png" alt="img" class="inner-gallery__figure__img"/>
							</div>
							<figcaption class="inner-gallery__figcaption">
								<div class="inner-gallery__figure__note">
									<img src="../img/small-glass.png" alt="icon"/>&nbsp;&nbsp;53
								</div>
								<div class="inner-gallery__figure__text">
									<p>Behind the Scenes: Comfortable Foam Mattresses</p>
								</div>
							</figcaption>
						</figure>
					</a>
				</div>
			</section>
		</div>
	</main>
	<footer class="footer">
		<div class="wrapper">
			<section class="footer__box">
				<div class="footer__box__column footer-center footer-logo--box">
					<img src="../img/footer-logo.png" alt="footer-logo" class="footer-logo"/>
					<p class="footer__box__list__link">THE MOST COMFORTABLE MATTRESS</p>
				</div>
				<div class="footer__box__column">
					<h3 class="footer__box__title">QUICK LINKS</h3>
					<ul class="footer__box__list">
						<li class="footer__box__list__item">
							<a href="#" class="footer__box__list__link">Discover</a>
						</li>
						<li class="footer__box__list__item">
							<a href="#" class="footer__box__list__link">Become a Maker</a>
						</li>
						<li class="footer__box__list__item">
							<a href="#" class="footer__box__list__link">About Us</a>
						</li>
					</ul>
				</div>
				<div class="footer__box__column">
					<h3 class="footer__box__title footer-center">Follow us</h3>
					<div class="footer__box__social">
						<a href="#" target="_blank" class="footer__box__social__link">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="#" target="_blank" class="footer__box__social__link">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="#" target="_blank" class="footer__box__social__link">
							<i class="fa fa-pinterest-p" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				<div class="footer__box__column">
					<h3 class="footer__box__title">GET TIPS ON BETTER SLEEP</h3>
					<p class="footer__box__list__link">You privacy is important to us. You can unsubscribe anytime</p>
					<form class="footer__box__form">
						<input type="text" placeholder="your e-mail" class="footer__box__form__input"/>
						<button class="footer__box__form__button">subscribe</button>
					</form>
				</div>
			</section>
		</div>
	</footer>
	<footer>
		<div class="wrapper">
			<section class="footer__copyright">
				<p class="footer__copyright__text">&copy; copyright 2017 NECTAR All rights reserved</p>
			</section>
		</div>
	</footer>
	<script src="../js/js-libs.min.js"></script>
	<script src="../js/script.js"></script>
</body>
</html>