<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="shortcut icon" type="img/favicon.png" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
<!-- header section -->
<header class="header">
    <div class="wrapper">
        <div class="header--wrapper">
            <a href="../index.html" class="header__logo">
                <img src="../img/logo.png" alt="header-logo"/>
            </a>
            <a href="../index.html" class="header__logo--small">
                <img src="../img/logo-s.png" alt="header-logo"/>
            </a>
            <div class="header-mobile">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="header__list">
            <li class="header__item header__mobile-languagePicker">
                <a href="#" class="header__mobile-languagePicker__link">En</a>
                <a href="#" class="header__mobile-languagePicker__link">Am</a>
                <a href="#" class="header__mobile-languagePicker__link">Ru</a>
            </li>
            <li class="header__item">
                <a href="about.html" class="header__link">About</a>
            </li>
            <li class="header__item">
                <a href="tour.html" class="header__link">Tours</a>
            </li>
            <li class="header__item">
                <a href="services.html" class="header__link">services</a>
            </li>
            <li class="header__item">
                <a href="armenia.html" class="header__link">armenia</a>
            </li>
            <li class="header__item">
                <a href="news.html" class="header__link">news</a>
            </li>
            <li class="header__item">
                <a href="contact.html" class="header__link">contact us</a>
            </li>
            <li class="header__item header__item--hidden">
                <div class="header__languagePicker" onclick="dropdown_function()">
                    <button class="header__languagePicker__button">en</button>
                    <img src="../img/lang-arrow.png" alt="header-logo">
                </div>
                <div id="header__languagePicker-dropDown" class="header__languagePicker__content">
                    <a href="#" class="header__languagePicker__link">en</a>
                    <a href="#" class="header__languagePicker__link">ru</a>
                    <a href="#" class="header__languagePicker__link">de</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<main class="main">
    <!-- about banner section -->
    <section class="about-banner">
        <div class="wrapper"></div>
    </section>
    <!-- about menu section -->
    <section class="about-menu" id="about-menuScroll">
        <div class="wrapper-min">
            <div class="about-menu__mobile">
                <div class="about-menu__mobile__link">Show Sections
                    <img src="../img/about/about-arrowDown.png" class="about-menu__mobile__icon" alt="arrow"/>
                </div>
            </div>
            <ul class="about-menu__list">
                <li class="about-menu__item">
                    <a href="#about-company" class="about-menu__link">Company</a>
                </li>
                <li class="about-menu__item">
                    <a href="#about-team" class="about-menu__link">Team</a>
                </li>
                <li class="about-menu__item">
                    <a href="#about-project" class="about-menu__link">Our Projects</a>
                </li>
                <li class="about-menu__item">
                    <a href="#about-dmc" class="about-menu__link">Your DMC in Armenia</a>
                </li>
                <li class="about-menu__item">
                    <a href="#about-partner" class="about-menu__link">For Partners</a>
                </li>
                <li class="about-menu__item">
                    <a href="#about-whyMe" class="about-menu__link">Why We</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- about company section -->
    <section class="about-company scroll-count" id="about-company">
        <div class="wrapper-min about-company--wrapper">
            <aside class="about-col">
                <h3 class="about-title">Company</h3>
                <article>
                    <p class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p class="about-text">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </article>
            </aside>
            <aside class="about-col">
                <div class="about-company-rightSide">
                    <div class="about-company-rightSide__row">
                        <div class="about-company-rightSide__block">
                            <div class="about-company-rightSide__number"><span class="count">20</span>+</div>
                            <p class="about-company-rightSide__text">years</p>
                        </div>
                        <div class="about-company-rightSide__block">
                            <div class="about-company-rightSide__number"><span class="count">100</span>K+</div>
                            <p class="about-company-rightSide__text">Tourist</p>
                        </div>
                    </div>
                    <div class="about-company-rightSide__row2">
                        <div class="about-company-rightSide__block">
                            <div class="about-company-rightSide__number"><span class="count">4700</span>+</div>
                            <p class="about-company-rightSide__text">Groups</p>
                        </div>
                        <div class="about-company-rightSide__block">
                            <div class="about-company-rightSide__number"><span class="count">180</span>+</div>
                            <p class="about-company-rightSide__text">Events</p>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <!-- about team section -->
    <section class="about-team" id="about-team">
        <div class="wrapper-min">
            <h3 class="about-title">our team</h3>
            <div class="about-inside">
                <div class="about-team__col">
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img1.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img2.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img1.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img2.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img1.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img2.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img1.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img2.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img1.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img2.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img1.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                    <div class="about-team__block">
                        <div class="about-team__imgBox">
                            <img src="../img/about/about-img2.png" alt="">
                            <div class="about-team__textBox">
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-fb.png" alt="facebook"/>
                                </a>
                                <a href="#" target="_blank" class="about-team__social">
                                    <img src="../img/about/about-in.png" alt="linkedin"/>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="about-team__title">Name Surname</h5>
                            <p class="about-team__text">Position</p>
                        </div>
                    </div>
                </div>
                <div class="about-team__buttonRow">
                    <button type="button" class="about-team__button">View All Employees</button>
                </div>
            </div>
        </div>
    </section>
    <!-- about project section -->
    <section class="about-project" id="about-project">
        <div class="wrapper-min about-project--wrapper">
            <aside class="about-col">
                <h3 class="about-title">our <span class="about-spanBlock">projects</span></h3>
                <article class="about-text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.
                </article>
            </aside>
            <aside class="about-col">
                <div class="about-project__col">
                    <a href="#" class="about-project__block">
                        <div class="about-project__imgBox"></div>
                        <div class="about-project__textBox">
                            <p class="about-project__textBox__text">EPIC Intrnational summer school Armenia 2018</p>
                            <img src="../img/about/about-rightArrow.png" alt="arrow"/>
                        </div>
                    </a>
                    <a href="#" class="about-project__block">
                        <div class="about-project__imgBox"></div>
                        <div class="about-project__textBox">
                            <p class="about-project__textBox__text">EPIC Open Air Rock Festival</p>
                            <img src="../img/about/about-rightArrow.png" alt="arrow"/>
                        </div>
                    </a>
                </div>
            </aside>
        </div>
    </section>
    <!-- about dmc section -->
    <section class="about-dmc" id="about-dmc">
        <div class="wrapper-min about-dmc--wrapper">
            <aside class="about-col">
                <h3 class="about-title">Your DMC <span class="about-spanBlock">In armenia</span></h3>
                <article>
                    <p class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <p class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="about-text">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </article>
            </aside>
            <aside class="about-col">
                <div class="about-dmc__row">
                    <p class="about-dmc__number">01</p>
                    <h5 class="about-dmc__title">Excursion Programmes</h5>
                    <p class="about-dmc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
                </div>
                <div class="about-dmc__row">
                    <p class="about-dmc__number">02</p>
                    <h5 class="about-dmc__title">Logistics, transport services, transfers</h5>
                    <p class="about-dmc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
                </div>
                <div class="about-dmc__row">
                    <p class="about-dmc__number">03</p>
                    <h5 class="about-dmc__title">Special events in Armenia</h5>
                    <p class="about-dmc__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
                </div>
            </aside>
        </div>
    </section>
    <!-- about partners section -->
    <section class="about-partner" id="about-partner">
        <div class="wrapper-min about-partner--wrapper">
            <aside class="about-col">
                <h3 class="about-title">for <span class="about-spanBlock">partners</span></h3>
                <article>
                    <p class="about-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                        an unknown printer took a galley of type and scrambled it to make a type
                        specimen book.
                    </p>
                    <p class="about-text">
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    </p>
                </article>
            </aside>
            <aside class="about-col">
                <h3 class="about-partner__header">How it Works?</h3>
                <div class="about-partner__rightSide">
                    <ol>
                        <li>
                            <span class="about-partner__title">Get the login and password</span>
                            <p class="about-partner__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text.</p>
                        </li>
                        <li>
                            <span class="about-partner__title">Go to your account</span>
                            <p class="about-partner__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text.</p>
                        </li>
                        <li>
                            <span class="about-partner__title">View special content</span>
                            <p class="about-partner__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text.</p>
                        </li>
                    </ol>
                </div>
            </aside>
        </div>
    </section>
    <!-- about whyMe section -->
    <section class="about-whyMe" id="about-whyMe">
        <div class="wrapper-min">
            <h3 class="about-title">why me?</h3>
            <div class="about-whyMe__row">
                <div class="about-whyMe__col">
                    <img src="../img/about/about-img5.png" alt="img"/>
                    <h6 class="about-whyMe__title">Lorem Ipsum</h6>
                    <p class="about-whyMe__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been. </p>
                </div>
                <div class="about-whyMe__col">
                    <img src="../img/about/about-img5.png" alt="img"/>
                    <h6 class="about-whyMe__title">Lorem Ipsum</h6>
                    <p class="about-whyMe__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been. </p>
                </div>
                <div class="about-whyMe__col">
                    <img src="../img/about/about-img5.png" alt="img"/>
                    <h6 class="about-whyMe__title">Lorem Ipsum</h6>
                    <p class="about-whyMe__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been. </p>
                </div>
                <div class="about-whyMe__col">
                    <img src="../img/about/about-img5.png" alt="img"/>
                    <h6 class="about-whyMe__title">Lorem Ipsum</h6>
                    <p class="about-whyMe__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been. </p>
                </div>
            </div>
        </div>
    </section>
    <!-- partners section -->
    <section class="partners">
        <div class="wrapper">
            <!-- Owl carousel -->
            <div class="owl-carousel owl-theme carousel2">
                <div class="item">
                    <div class="slider">
                        <a href="http://www.araratbrandy.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/ARARAT%20logo.svg" alt="Ararat brandy"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://www.austrian.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/AUSTRIAN%20logo.svg" alt="Austrian-Airlines"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://busvoyage.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/BUSBOYAGE%20logo.svg" alt="BusVoyage"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://epicstudy.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/EPIC%20logo.svg"  alt="EPIC"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="http://www.iata.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/IATA%20logo.svg"  alt="IATA"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://lufthansa-city-center.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/LUFTHANSA%20CITY%20CENTER%20logo.svg"  alt="Lufthansa"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://pandokyerevan.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/TAVERN%20YEREVAN%20logo.svg"  alt="Tavern Yerevan"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://touroperator.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/UITO%20logo.svg"  alt="UITO"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- footer section -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer-top">
            <div class="footer-top__col">
                <h5 class="footer__title">About</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Team</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Portfolio</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Your DMC in Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">For Partner</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Why We?</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Tours and Products</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Religion-better Pilgrimage</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Cultural – Historical</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Regional</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Wine and cuisine</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Birdwatching and botanic</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Educational</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Services</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tour packeges</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hotel reservation</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Transport</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Excursions and guides</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Restaurants or Food</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Translation services & equipment for conference</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Armenia</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Event Calendar</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">What to see</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Entertainments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Food and drink</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tourist info</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">contact us</h5>
                <ul class="footer__list">
                    <li class="footer__item">4 Vardanants str. Yerevan, Armenia</li>
                    <li class="footer__item">(+374) 10 56 36 67</li>
                    <li class="footer__item">info@armeniatravel.am</li>
                    <li class="footer__item footer-top__social">
                        <a href="https://www.facebook.com/ArmeniaTravel/" target="_blank" class="footer-top__social__block">
                            <img src="../img/fb-s.png" alt="facebook"/>
                        </a>
                        <a href="https://twitter.com/ArmeniaTravel_" target="_blank" class="footer-top__social__block">
                            <img src="../img/tw-s.png" alt="twitter"/>
                        </a>
                        <a href="https://plus.google.com/b/101216774593900676378/101216774593900676378" target="_blank" class="footer-top__social__block">
                            <img src="../img/google-s.png" alt="google"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper footer__wrapper">
            <p class="footer__copyright">© Copyright 2018. Armenia Travel. All rights reserved.</p>
            <p class="footer__design">Design created with <img src="../img/heart.png" alt="heart"/> by Braind</p>
        </div>
    </div>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>