<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Services</title>
    <link rel="shortcut icon" type="img/favicon.png" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
<!-- header section -->
<header class="header">
    <div class="wrapper">
        <div class="header--wrapper">
            <a href="../index.html" class="header__logo">
                <img src="../img/logo.png" alt="header-logo"/>
            </a>
            <a href="../index.html" class="header__logo--small">
                <img src="../img/logo-s.png" alt="header-logo"/>
            </a>
            <div class="header-mobile">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="header__list">
            <li class="header__item header__mobile-languagePicker">
                <a href="#" class="header__mobile-languagePicker__link">En</a>
                <a href="#" class="header__mobile-languagePicker__link">Am</a>
                <a href="#" class="header__mobile-languagePicker__link">Ru</a>
            </li>
            <li class="header__item">
                <a href="about.html" class="header__link">About</a>
            </li>
            <li class="header__item">
                <a href="tour.html" class="header__link">Tours</a>
            </li>
            <li class="header__item">
                <a href="services.html" class="header__link">services</a>
            </li>
            <li class="header__item">
                <a href="armenia.html" class="header__link">armenia</a>
            </li>
            <li class="header__item">
                <a href="news.html" class="header__link">news</a>
            </li>
            <li class="header__item">
                <a href="contact.html" class="header__link">contact us</a>
            </li>
            <li class="header__item header__item--hidden">
                <div class="header__languagePicker" onclick="dropdown_function()">
                    <button class="header__languagePicker__button">en</button>
                    <img src="../img/lang-arrow.png" alt="header-logo">
                </div>
                <div id="header__languagePicker-dropDown" class="header__languagePicker__content">
                    <a href="#" class="header__languagePicker__link">en</a>
                    <a href="#" class="header__languagePicker__link">ru</a>
                    <a href="#" class="header__languagePicker__link">de</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<main class="main">
    <!-- service banner section -->
    <section class="service-banner">
        <div class="wrapper"></div>
    </section>
    <!-- service menu section -->
    <section class="service-menu" id="service-menuScroll">
        <div class="wrapper-min">
            <div class="service-menu__mobile">
                <div class="service-menu__mobile__link">Show Sections
                    <img src="../img/about/about-arrowDown.png" class="service-menu__mobile__icon" alt="arrow"/>
                </div>
            </div>
            <ul class="service-menu__list">
                <li class="service-menu__item">
                    <a href="#service-packages" class="service-menu__link">Tour packages</a>
                </li>
                <li class="service-menu__item">
                    <a href="#service-reserve" class="service-menu__link">Hotel Reservation</a>
                </li>
                <li class="service-menu__item">
                    <a href="#service-transport" class="service-menu__link">Transport</a>
                </li>
                <li class="service-menu__item">
                    <a href="#service-guides" class="service-menu__link">Excursions and Guides</a>
                </li>
                <li class="service-menu__item">
                    <a href="#service-organization" class="service-menu__link">MICE Organization</a>
                </li>
                <li class="service-menu__item">
                    <a href="#service-translation" class="service-menu__link">Translation Services</a>
                </li>
                <li class="service-menu__item">
                    <a href="#service-fit" class="service-menu__link">For FIT</a>
                </li>
            </ul>
        </div>
    </section>
    <!-- service packages section -->
    <section class="service-packages" id="service-packages">
        <div class="wrapper-min service-packages--wrapper">
            <article class="service-packages__col">
                <h5 class="service__title">Tour
                    <span class="service__title__block">Packeges</span>
                </h5>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <a href="#" class="service__link">Our tour Packages</a>
            </article>
            <aside class="service-packages__col">
                <div class="service-packages__colBlock">
                    <a href="#">
                        <figure class="service-packages__figure">
                            <div class="service-packages__figure__imgBox"></div>
                            <figcaption class="service-packages__figcaption">
                                <h5 class="service-packages__figcaption__title">Tour name</h5>
                                <p class="service-packages__figcaption__text">7Nights, 8Days</p>
                                <p class="service-packages__figcaption__money">Starts from
                                    <span class="service-packages__figcaption__money--span">$250</span>
                                </p>
                                <div class="service-packages__figcaption__arrow">
                                    <img src="../img/tour/tours-arrowRight.png" alt="arrow">
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                    <a href="#">
                        <figure class="service-packages__figure">
                            <div class="service-packages__figure__imgBox"></div>
                            <figcaption class="service-packages__figcaption">
                                <h5 class="service-packages__figcaption__title">Tour name</h5>
                                <p class="service-packages__figcaption__text">7Nights, 8Days</p>
                                <p class="service-packages__figcaption__money">Starts from
                                    <span class="service-packages__figcaption__money--span">$250</span>
                                </p>
                                <div class="service-packages__figcaption__arrow">
                                    <img src="../img/tour/tours-arrowRight.png" alt="arrow">
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </aside>
        </div>
    </section>
    <!-- service reserve section -->
    <section class="service-reserve" id="service-reserve">
        <div class="wrapper-min service-reserve--wrapper">
            <article class="service-reserve__col">
                <h5 class="service__title">hotel
                    <span class="service__title__block">reservation</span>
                </h5>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <a href="#" class="service__link">Book Hotel</a>
            </article>
            <aside class="service-reserve__col">
                <div class="service-reserve__row">
                    <p class="service-reserve__number">01</p>
                    <h5 class="service-reserve__title">Choose hotel</h5>
                    <p class="service-reserve__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
                </div>
                <div class="service-reserve__row">
                    <p class="service-reserve__number">02</p>
                    <h5 class="service-reserve__title">Select dates and book hotel</h5>
                    <p class="service-reserve__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
                </div>
                <div class="service-reserve__row">
                    <p class="service-reserve__number">03</p>
                    <h5 class="service-reserve__title">Welcome to Armenia</h5>
                    <p class="service-reserve__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy . </p>
                </div>
            </aside>
        </div>
    </section>
    <!-- service transport section -->
    <section class="service-transport" id="service-transport">
        <div class="wrapper-min">
            <h5 class="service__title">Transport</h5>
            <div class="service-transport--wrapper">
                <article class="service-transport__col">
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <a href="#" class="service__link">Contact us</a>
                </article>
                <aside class="service-transport__col">
                    <div class="service-transport__row">
                        <div class="service-transport__box">
                            <img src="../img/services/service_bus.png" alt="bus"/>
                            <h6 class="service-transport__title">Buses</h6>
                            <p class="service-transport__text">(with drivers or without)</p>
                        </div>
                        <div class="service-transport__box">
                            <img src="../img/services/service_car.png" alt="car"/>
                            <h6 class="service-transport__title">cars</h6>
                            <p class="service-transport__text">(with drivers or without)</p>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
    <!-- service guides section -->
    <section class="service-guides" id="service-guides">
        <div class="wrapper-min service-guides--wrapper">
            <article class="service-guides__col">
                <h5 class="service__title">Excursions
                    <span class="service__title__block">and guides</span>
                </h5>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <a href="#" class="service__link">Our Tours</a>
            </article>
            <aside class="service-guides__col">
                <h6 class="service-guides__header">Meet Our Guides</h6>
                <div class="service-guides__row">
                    <div class="service-guides__teamBlock">
                        <div class="service-guides__imgBox">
                            <img src="../img/services/service-img_4.png" alt="">
                            <div class="service-guides__textBox">
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-fb.png" alt="facebook">
                                </a>
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-in.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="service-guides__title">Name Surname</h5>
                            <p class="service-guides__text">Guide(russian)</p>
                        </div>
                    </div>
                    <div class="service-guides__teamBlock">
                        <div class="service-guides__imgBox">
                            <img src="../img/services/service-img_5.png" alt="">
                            <div class="service-guides__textBox">
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-fb.png" alt="facebook">
                                </a>
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-in.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="service-guides__title">Name Surname</h5>
                            <p class="service-guides__text">Guide(english)</p>
                        </div>
                    </div>
                    <div class="service-guides__teamBlock">
                        <div class="service-guides__imgBox">
                            <img src="../img/services/service-img_6.png" alt="">
                            <div class="service-guides__textBox">
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-fb.png" alt="facebook">
                                </a>
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-in.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="service-guides__title">Name Surname</h5>
                            <p class="service-guides__text">Guide(russian)</p>
                        </div>
                    </div>
                    <div class="service-guides__teamBlock">
                        <div class="service-guides__imgBox">
                            <img src="../img/services/service-img_7.png" alt="">
                            <div class="service-guides__textBox">
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-fb.png" alt="facebook">
                                </a>
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-in.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="service-guides__title">Name Surname</h5>
                            <p class="service-guides__text">Guide(spanish)</p>
                        </div>
                    </div>
                    <div class="service-guides__teamBlock">
                        <div class="service-guides__imgBox">
                            <img src="../img/services/service-img_8.png" alt="">
                            <div class="service-guides__textBox">
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-fb.png" alt="facebook">
                                </a>
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-in.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="service-guides__title">Name Surname</h5>
                            <p class="service-guides__text">Guide(english)</p>
                        </div>
                    </div>
                    <div class="service-guides__teamBlock">
                        <div class="service-guides__imgBox">
                            <img src="../img/services/service-img_9.png" alt="">
                            <div class="service-guides__textBox">
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-fb.png" alt="facebook">
                                </a>
                                <a href="#" target="_blank" class="service-guides__social">
                                    <img src="../img/about/about-in.png" alt="linkedin">
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="service-guides__title">Name Surname</h5>
                            <p class="service-guides__text">Guide(russian)</p>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <!-- service organization section -->
    <section class="service-organization" id="service-organization">
        <div class="wrapper-min">
            <h5 class="service__title">MICE
                <span class="service__title__block">organization</span>
                <span class="service__title__block">support</span>
            </h5>
            <div class="service-organization--wrapper">
                <article class="service-organization__col">
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <a href="#" class="service__link">Contact us</a>
                </article>
                <article class="service-organization__col">
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                </article>
            </div>
        </div>
    </section>
    <!-- service translation section -->
    <section class="service-translation" id="service-translation">
        <div class="wrapper-min">
            <h5 class="service__title">Translation
                <span class="service__title__block">services</span>
            </h5>
            <div class="service-translation--wrapper">
                <article class="service-translation__col">
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <a href="#" class="service__link">Contact us</a>
                </article>
                <article class="service-translation__col">
                    <h6 class="service-translation__title">Equipment for conference</h6>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                    <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </article>
            </div>
        </div>
    </section>
    <!-- service fit section -->
    <section class="service-fit" id="service-fit">
        <div class="wrapper-min service-fit--wrapper">
            <article class="service-fit__col">
                <h5 class="service__title">for fit</h5>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                <p class="service__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </p>
                <a href="#" class="service__link">Contact us</a>
            </article>
            <aside class="service-fit__col">
                <img src="../img/services/service-img_3.png" alt="fit image"/>
            </aside>
        </div>
    </section>
    <!-- partners section -->
    <section class="partners">
        <div class="wrapper">
            <!-- Owl carousel -->
            <div class="owl-carousel owl-theme carousel2">
                <div class="item">
                    <div class="slider">
                        <a href="http://www.araratbrandy.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/ARARAT%20logo.svg" alt="Ararat brandy"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://www.austrian.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/AUSTRIAN%20logo.svg" alt="Austrian-Airlines"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://busvoyage.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/BUSBOYAGE%20logo.svg" alt="BusVoyage"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://epicstudy.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/EPIC%20logo.svg"  alt="EPIC"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="http://www.iata.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/IATA%20logo.svg"  alt="IATA"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://lufthansa-city-center.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/LUFTHANSA%20CITY%20CENTER%20logo.svg"  alt="Lufthansa"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://pandokyerevan.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/TAVERN%20YEREVAN%20logo.svg"  alt="Tavern Yerevan"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://touroperator.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/UITO%20logo.svg"  alt="UITO"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- footer section -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer-top">
            <div class="footer-top__col">
                <h5 class="footer__title">About</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Team</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Portfolio</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Your DMC in Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">For Partner</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Why We?</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Tours and Products</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Religion-better Pilgrimage</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Cultural – Historical</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Regional</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Wine and cuisine</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Birdwatching and botanic</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Educational</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Services</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tour packeges</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hotel reservation</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Transport</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Excursions and guides</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Restaurants or Food</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Translation services & equipment for conference</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Armenia</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Event Calendar</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">What to see</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Entertainments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Food and drink</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tourist info</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">contact us</h5>
                <ul class="footer__list">
                    <li class="footer__item">4 Vardanants str. Yerevan, Armenia</li>
                    <li class="footer__item">(+374) 10 56 36 67</li>
                    <li class="footer__item">info@armeniatravel.am</li>
                    <li class="footer__item footer-top__social">
                        <a href="https://www.facebook.com/ArmeniaTravel/" target="_blank" class="footer-top__social__block">
                            <img src="../img/fb-s.png" alt="facebook"/>
                        </a>
                        <a href="https://twitter.com/ArmeniaTravel_" target="_blank" class="footer-top__social__block">
                            <img src="../img/tw-s.png" alt="twitter"/>
                        </a>
                        <a href="https://plus.google.com/b/101216774593900676378/101216774593900676378" target="_blank" class="footer-top__social__block">
                            <img src="../img/google-s.png" alt="google"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper footer__wrapper">
            <p class="footer__copyright">© Copyright 2018. Armenia Travel. All rights reserved.</p>
            <p class="footer__design">Design created with <img src="../img/heart.png" alt="heart"/> by Braind</p>
        </div>
    </div>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>