<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tour</title>
    <link rel="shortcut icon" type="img/favicon.png" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
<!-- header section -->
<header class="header">
    <div class="wrapper">
        <div class="header--wrapper">
            <a href="../index.html" class="header__logo">
                <img src="../img/logo.png" alt="header-logo"/>
            </a>
            <a href="../index.html" class="header__logo--small">
                <img src="../img/logo-s.png" alt="header-logo"/>
            </a>
            <div class="header-mobile">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="header__list">
            <li class="header__item header__mobile-languagePicker">
                <a href="#" class="header__mobile-languagePicker__link">En</a>
                <a href="#" class="header__mobile-languagePicker__link">Am</a>
                <a href="#" class="header__mobile-languagePicker__link">Ru</a>
            </li>
            <li class="header__item">
                <a href="about.html" class="header__link">About</a>
            </li>
            <li class="header__item">
                <a href="tour.html" class="header__link">Tours</a>
            </li>
            <li class="header__item">
                <a href="services.html" class="header__link">services</a>
            </li>
            <li class="header__item">
                <a href="armenia.html" class="header__link">armenia</a>
            </li>
            <li class="header__item">
                <a href="news.html" class="header__link">news</a>
            </li>
            <li class="header__item">
                <a href="contact.html" class="header__link">contact us</a>
            </li>
            <li class="header__item header__item--hidden">
                <div class="header__languagePicker" onclick="dropdown_function()">
                    <button class="header__languagePicker__button">en</button>
                    <img src="../img/lang-arrow.png" alt="header-logo">
                </div>
                <div id="header__languagePicker-dropDown" class="header__languagePicker__content show">
                    <a href="#" class="header__languagePicker__link">en</a>
                    <a href="#" class="header__languagePicker__link">ru</a>
                    <a href="#" class="header__languagePicker__link">de</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- main section -->
<main class="main">
    <!-- Tour banner section -->
    <section class="tours-banner"></section>
    <!-- Tour filter section -->
    <section class="tours-filter">
        <!-- tour filter outer -->
        <div class="tours-filter-outer">
            <div class="wrapper">
                <h5 class="tours-filter__title">Type</h5>
                <form action="" class="tours-filter-outer__form">
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="1"/>
                        <input type="button" data-value="1" id="parent" class="tours-filter-outer__form__input" value="All"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="2"/>
                        <input type="button" data-value="2" class="child tours-filter-outer__form__input" value="Religion"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="3"/>
                        <input type="button" data-value="3" class="child tours-filter-outer__form__input" value="Cultural-Historical"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="4"/>
                        <input type="button" data-value="4" class="child tours-filter-outer__form__input" value="Regional"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="5"/>
                        <input type="button" data-value="5" class="child tours-filter-outer__form__input" value="Wine and cuisine"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="6"/>
                        <input type="button" data-value="6" class="child tours-filter-outer__form__input" value="Archaeological"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="7"/>
                        <input type="button" data-value="7" class="child tours-filter-outer__form__input" value="Hiking"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="8"/>
                        <input type="button" data-value="8" class="child tours-filter-outer__form__input" value="Cycling"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="9"/>
                        <input type="button" data-value="9" class="child tours-filter-outer__form__input" value="Birdwatching and botanic"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="10"/>
                        <input type="button" data-value="10" class="child tours-filter-outer__form__input" value="Jeep"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="11"/>
                        <input type="button" data-value="11" class="child tours-filter-outer__form__input" value="Educational"/>
                    </div>
                    <div class="tours-filter-outer__form__block">
                        <input type="checkbox" class="tours-filter-outer__form__input" value="12"/>
                        <input type="button" data-value="12" class="child tours-filter-outer__form__input" value="The Great Silk Road"/>
                    </div>
                </form>
            </div>
        </div>
        <!-- tour filter inside -->
        <div class="tours-filter-inside">
            <div class="wrapper">
                <div class="tours-filter-inside__rowTop">
                    <div class="tours-filter-inside__rowTop__col">
                        <h5 class="tours-filter__title">Period</h5>
                        <form action="" class="tours-filter-inside__formPeriod">
                            <div class="tours-filter-inside__formPeriod__block">
                                <input type="button" class="tours-filter-inside__formPeriod__input" value="Weekend"/>
                            </div>
                            <div class="tours-filter-inside__formPeriod__block">
                                <input type="button" class="tours-filter-inside__formPeriod__input" value="3-5 days"/>
                            </div>
                            <div class="tours-filter-inside__formPeriod__block">
                                <input type="button" class="tours-filter-inside__formPeriod__input" value="5-8 days"/>
                            </div>
                            <div class="tours-filter-inside__formPeriod__block">
                                <input type="button" class="tours-filter-inside__formPeriod__input" value="8-12 days"/>
                            </div>
                            <div class="tours-filter-inside__formPeriod__block">
                                <input type="button" class="tours-filter-inside__formPeriod__input" value="14+ days"/>
                            </div>
                        </form>
                    </div>
                    <div  class="tours-filter-inside__rowTop__col">
                        <h5 class="tours-filter__title">Season</h5>
                        <form action="" class="tours-filter-inside__formSeason">
                            <div class="tours-filter-inside__formSeason__block">
                                <input type="button" class="inner-child tours-filter-inside__formSeason__input" value="Summer"/>
                            </div>
                            <div class="tours-filter-inside__formSeason__block">
                                <input type="button" class="inner-child tours-filter-inside__formSeason__input" value="Autumn"/>
                            </div>
                            <div class="tours-filter-inside__formSeason__block">
                                <input type="button" class="inner-child tours-filter-inside__formSeason__input" value="Winter"/>
                            </div>
                            <div class="tours-filter-inside__formSeason__block">
                                <input type="button" class="inner-child tours-filter-inside__formSeason__input" value="Spring"/>
                            </div>
                        </form>
                    </div>
                    <div  class="tours-filter-inside__rowTop__col">
                        <h5 class="tours-filter__title">Group Size</h5>
                        <form action="" class="tours-filter-inside__formGroup">
                            <div class="tours-filter-inside__formGroup__block">
                                <input type="button" class="inner-child tours-filter-inside__formGroup__input" value="1-3"/>
                            </div>
                            <div class="tours-filter-inside__formGroup__block">
                                <input type="button" class="inner-child tours-filter-inside__formGroup__input" value="3-7"/>
                            </div>
                            <div class="tours-filter-inside__formGroup__block">
                                <input type="button" class="inner-child tours-filter-inside__formGroup__input" value="7-15"/>
                            </div>
                            <div class="tours-filter-inside__formGroup__block">
                                <input type="button" class="inner-child tours-filter-inside__formGroup__input" value="15-30"/>
                            </div>
                            <div class="tours-filter-inside__formGroup__block">
                                <input type="button" class="inner-child tours-filter-inside__formGroup__input" value="30-50"/>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tours-filter-inside__rowBottom">
                    <div class="tours-filter-inside__rowBottom__col1">
                        <h5 class="tours-filter__title">Hotel Category</h5>
                        <form action="" class="tours-filter-inside__formCategory">
                            <div class="tours-filter-inside__formCategory__block">
                                <input type="button" class="inner-child tours-filter-inside__formCategory__input" value="3*"/>
                            </div>
                            <div class="tours-filter-inside__formCategory__block">
                                <input type="button" class="inner-child tours-filter-inside__formCategory__input" value="4*"/>
                            </div>
                            <div class="tours-filter-inside__formCategory__block">
                                <input type="button" class="inner-child tours-filter-inside__formCategory__input" value="5*"/>
                            </div>
                            <div class="tours-filter-inside__formCategory__block">
                                <input type="button" class="inner-child tours-filter-inside__formCategory__input" value="B&B"/>
                            </div>
                        </form>
                    </div>
                    <div class="tours-filter-inside__rowBottom__col2">
                        <h5 class="tours-filter__title">Guaranteed</h5>
                        <form action="#" class="tours-filter-inside__formGuaranteed">
                            <div class="tours-filter-inside__formGuaranteed__block">
                                <input type="radio" id="yes" class="tours-filter-inside__formGuaranteed__radio" name="radio-group" checked>
                                <label for="yes" class="tours-filter-inside__formGuaranteed__radioLabel">Yes</label>
                            </div>
                            <div class="tours-filter-inside__formGuaranteed__block">
                                <input type="radio" id="no" class="tours-filter-inside__formGuaranteed__radio" name="radio-group">
                                <label for="no" class="tours-filter-inside__formGuaranteed__radioLabel">No</label>
                            </div>
                        </form>
                    </div>
                    <div class="tours-filter-inside__rowBottom__col3">
                        <form action="" class="tours-filter-inside__formButton">
                            <input type="submit" class="tours-filter-inside__formButton__button" value="Apply Filters"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- tour filter show and hide -->
        <div class="tours-filter--show">
            <p class="tours-filter--show__title">Show All Filters</p>
            <img src="../img/tour/tours-arrowDown.png" alt="arrow">
        </div>
    </section>
    <!-- Tour gallery section -->
    <section class="tours-gallery">
        <div class="wrapper">
            <div class="tours-gallery__row">
                <h3 class="tours-gallery__title">All tours</h3>
                <a href="tourCustom.html" class="tours-gallery__button">Create Your Own Tour</a>
            </div>
            <div class="tours-gallery--wrapper">
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                <a href="tourInner.html">
                    <figure class="tours-gallery__figure">
                        <div class="tours-gallery__figure__imgBox"></div>
                        <figcaption class="tours-gallery__figcaption">
                            <h5 class="tours-gallery__figcaption__title">Tour name</h5>
                            <p class="tours-gallery__figcaption__text">7Nights, 8Days</p>
                            <p class="tours-gallery__figcaption__money">Starts from <span class="tours-gallery__figcaption__money--span">$250</span></p>
                            <div class="tours-gallery__figcaption__arrow">
                                <img src="../img/tour/tours-arrowRight.png" alt="arrow"/>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </section>
    <!-- partners section -->
    <section class="partners">
        <div class="wrapper">
            <!-- Owl carousel -->
            <div class="owl-carousel owl-theme carousel2">
                <div class="item">
                    <div class="slider">
                        <a href="http://www.araratbrandy.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/ARARAT%20logo.svg" alt="Ararat brandy"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://www.austrian.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/AUSTRIAN%20logo.svg" alt="Austrian-Airlines"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://busvoyage.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/BUSBOYAGE%20logo.svg" alt="BusVoyage"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://epicstudy.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/EPIC%20logo.svg"  alt="EPIC"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="http://www.iata.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/IATA%20logo.svg"  alt="IATA"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://lufthansa-city-center.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/LUFTHANSA%20CITY%20CENTER%20logo.svg"  alt="Lufthansa"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://pandokyerevan.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/TAVERN%20YEREVAN%20logo.svg"  alt="Tavern Yerevan"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://touroperator.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/UITO%20logo.svg"  alt="UITO"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- footer section -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer-top">
            <div class="footer-top__col">
                <h5 class="footer__title">About</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Team</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Portfolio</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Your DMC in Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">For Partner</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Why We?</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Tours and Products</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Religion-better Pilgrimage</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Cultural – Historical</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Regional</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Wine and cuisine</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Birdwatching and botanic</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Educational</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Services</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tour packeges</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hotel reservation</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Transport</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Excursions and guides</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Restaurants or Food</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Translation services & equipment for conference</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Armenia</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Event Calendar</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">What to see</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Entertainments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Food and drink</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tourist info</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">contact us</h5>
                <ul class="footer__list">
                    <li class="footer__item">4 Vardanants str. Yerevan, Armenia</li>
                    <li class="footer__item">(+374) 10 56 36 67</li>
                    <li class="footer__item">info@armeniatravel.am</li>
                    <li class="footer__item footer-top__social">
                        <a href="https://www.facebook.com/ArmeniaTravel/" target="_blank" class="footer-top__social__block">
                            <img src="../img/fb-s.png" alt="facebook"/>
                        </a>
                        <a href="https://twitter.com/ArmeniaTravel_" target="_blank" class="footer-top__social__block">
                            <img src="../img/tw-s.png" alt="twitter"/>
                        </a>
                        <a href="https://plus.google.com/b/101216774593900676378/101216774593900676378" target="_blank" class="footer-top__social__block">
                            <img src="../img/google-s.png" alt="google"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper footer__wrapper">
            <p class="footer__copyright">© Copyright 2018. Armenia Travel. All rights reserved.</p>
            <p class="footer__design">Design created with <img src="../img/heart.png" alt="heart"/> by Braind</p>
        </div>
    </div>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>