<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tour Inner</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
<!-- header section -->
<header class="header">
    <div class="wrapper">
        <div class="header--wrapper">
            <a href="../index.html" class="header__logo">
                <img src="../img/logo.png" alt="header-logo"/>
            </a>
            <a href="../index.html" class="header__logo--small">
                <img src="../img/logo-s.png" alt="header-logo"/>
            </a>
            <div class="header-mobile">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="header__list">
            <li class="header__item header__mobile-languagePicker">
                <a href="#" class="header__mobile-languagePicker__link">En</a>
                <a href="#" class="header__mobile-languagePicker__link">Am</a>
                <a href="#" class="header__mobile-languagePicker__link">Ru</a>
            </li>
            <li class="header__item">
                <a href="about.html" class="header__link">About</a>
            </li>
            <li class="header__item">
                <a href="tour.html" class="header__link">Tours</a>
            </li>
            <li class="header__item">
                <a href="services.html" class="header__link">services</a>
            </li>
            <li class="header__item">
                <a href="armenia.html" class="header__link">armenia</a>
            </li>
            <li class="header__item">
                <a href="news.html" class="header__link">news</a>
            </li>
            <li class="header__item">
                <a href="contact.html" class="header__link">contact us</a>
            </li>
            <li class="header__item header__item--hidden">
                <div class="header__languagePicker" onclick="dropdown_function()">
                    <button class="header__languagePicker__button">en</button>
                    <img src="../img/lang-arrow.png" alt="header-logo">
                </div>
                <div id="header__languagePicker-dropDown" class="header__languagePicker__content show">
                    <a href="#" class="header__languagePicker__link">en</a>
                    <a href="#" class="header__languagePicker__link">ru</a>
                    <a href="#" class="header__languagePicker__link">de</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- main section -->
<main class="main">
    <!-- TourInner banner section -->
    <section class="tourInner-banner"></section>
    <!-- TourInner info section -->
    <section class="tourInner-info">
        <div class="wrapper">
            <div class="tourInner-info--wrapper">
                <div class="tourInner-info__col">
                    <p class="tourInner-info__text">
                        <span class="tourInner-info__title">Type:</span> Cultural-Historical
                    </p>
                </div>
                <div class="tourInner-info__col">
                    <p class="tourInner-info__text">
                        <span class="tourInner-info__title">Period:</span> 5-8 days
                    </p>
                </div>
                <div class="tourInner-info__col">
                    <p class="tourInner-info__text">
                        <span class="tourInner-info__title">Hotels: </span> 3*, 4*
                    </p>
                </div>
                <div class="tourInner-info__col">
                    <p class="tourInner-info__text">
                        <span class="tourInner-info__title">Guaranteed:</span> Yes
                    </p>
                </div>
                <div class="tourInner-info__col">
                    <p class="tourInner-info__text">
                        <span class="tourInner-info__title">Price:</span> 280$
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- TourInner content section -->
    <section class="tourInner-content">
        <div class="tourInner-content__location">
            <img src="../img/tour-inner/tourInner-location.png" alt="location"/>
        </div>
        <div class="wrapper tourInner-content--wrapper">
            <aside class="tourInner-content__aside">
                <div class="tourInner-content__asideLeft">
                    <div class="tourInner-content__asideRight">
                        <h3 class="tourInner-content__title">Day 1</h3>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    </div>
                </div>
                <div class="tourInner-content__asideLeft">
                    <h3 class="tourInner-content__title">Day 2</h3>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
                <div class="tourInner-content__asideLeft">
                    <div class="tourInner-content__asideRight">
                        <h3 class="tourInner-content__title">Day 3</h3>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    </div>
                </div>
                <div class="tourInner-content__asideLeft">
                    <h3 class="tourInner-content__title">Day 4</h3>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
                <div class="tourInner-content__asideLeft">
                    <div class="tourInner-content__asideRight">
                        <h3 class="tourInner-content__title">Day 5</h3>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    </div>
                </div>
                <div class="tourInner-content__asideLeft">
                    <h3 class="tourInner-content__title">Day 6</h3>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
                <div class="tourInner-content__asideLeft">
                    <div class="tourInner-content__asideRight">
                        <h3 class="tourInner-content__title">Day 7</h3>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                    </div>
                </div>
                <div class="tourInner-content__asideLeft">
                    <h3 class="tourInner-content__title">Day 8</h3>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                    <p class="tourInner-content__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
            </aside>
        </div>
    </section>
    <!-- partners section -->
    <section class="partners">
        <div class="wrapper">
            <!-- Owl carousel -->
            <div class="owl-carousel owl-theme carousel2">
                <div class="item">
                    <div class="slider">
                        <a href="http://www.araratbrandy.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/ARARAT%20logo.svg" alt="Ararat brandy"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://www.austrian.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/AUSTRIAN%20logo.svg" alt="Austrian-Airlines"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://busvoyage.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/BUSBOYAGE%20logo.svg" alt="BusVoyage"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://epicstudy.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/EPIC%20logo.svg"  alt="EPIC"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="http://www.iata.org" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/IATA%20logo.svg"  alt="IATA"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://lufthansa-city-center.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/LUFTHANSA%20CITY%20CENTER%20logo.svg"  alt="Lufthansa"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://pandokyerevan.com" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/TAVERN%20YEREVAN%20logo.svg"  alt="Tavern Yerevan"/>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="slider">
                        <a href="https://touroperator.am" target="_blank" class="partners__carousel">
                            <div class="partners__img">
                                <img src="../img/partner/UITO%20logo.svg"  alt="UITO"/>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- footer section -->
<footer class="footer">
    <div class="wrapper">
        <div class="footer-top">
            <div class="footer-top__col">
                <h5 class="footer__title">About</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Company</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Team</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Portfolio</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Your DMC in Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">For Partner</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Why We?</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Tours and Products</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Religion-better Pilgrimage</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Cultural – Historical</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Regional</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Wine and cuisine</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Birdwatching and botanic</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Educational</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Services</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tour packeges</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Hotel reservation</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Transport</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Excursions and guides</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Restaurants or Food</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Translation services & equipment for conference</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">Armenia</h5>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">About Armenia</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Event Calendar</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">What to see</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Entertainments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Food and drink</a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">Tourist info</a>
                    </li>
                </ul>
            </div>
            <div class="footer-top__col">
                <h5 class="footer__title">contact us</h5>
                <ul class="footer__list">
                    <li class="footer__item">4 Vardanants str. Yerevan, Armenia</li>
                    <li class="footer__item">(+374) 10 56 36 67</li>
                    <li class="footer__item">info@armeniatravel.am</li>
                    <li class="footer__item footer-top__social">
                        <a href="https://www.facebook.com/ArmeniaTravel/" target="_blank" class="footer-top__social__block">
                            <img src="../img/fb-s.png" alt="facebook"/>
                        </a>
                        <a href="https://twitter.com/ArmeniaTravel_" target="_blank" class="footer-top__social__block">
                            <img src="../img/tw-s.png" alt="twitter"/>
                        </a>
                        <a href="https://plus.google.com/b/101216774593900676378/101216774593900676378" target="_blank" class="footer-top__social__block">
                            <img src="../img/google-s.png" alt="google"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrapper footer__wrapper">
            <p class="footer__copyright">© Copyright 2018. Armenia Travel. All rights reserved.</p>
            <p class="footer__design">Design created with <img src="../img/heart.png" alt="heart"/> by Braind</p>
        </div>
    </div>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>