@import "_variables";
.buySell {
  &__green{
    color: #04b578;
  }
  &__red{
    color: #e9677a;
  }
  &__checkbox{
    font-size: 14px;
    color: #929292;
    cursor: pointer;
  }
  &__drop{
    width: 190px;
    margin-bottom: 50px;
    .drop__value{
      color: #01567a;
    }

  }
  // statistic
  &__statistic{
    padding-right: 20px;
    &__row{
      color: rgb(146, 146, 146);
      & ~ .buySell__statistic__row{
        margin-top: 15px;
      }
    }
    &__title{
      text-transform: uppercase;
      color: rgb(105, 105, 105);
    }
    &__text{
      flex-grow: 1;
      min-width: 1px;
      text-align: right;
      margin-left: 10px;
    }
    &__value{
      font-size: 12px;
      color: rgb(146, 146, 146);
      margin-left: 10px;
    }
  }
  // charters
  &__charters{
    margin-bottom: 65px;
  }
  // limit and market
  &__limitMarket{
    &__col{
      border: 1px solid #dedede;
      padding: 30px 20px;
      margin: 0 10px;
    }
    &__row{
      margin-bottom: 15px;
    }
    &__title{
      font-size: 15px;
      color: #929292;
    }
    &__text{
      color: rgb(105, 105, 105);
    }
    &__value{
      font-size: 12px;
      text-transform: uppercase;
      color: rgb(146, 146, 146);
      margin-left: 10px;
    }
  }
  // order book
  &__orderBook{
    margin: 60px 0;
    &__subTitle{
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #696969;
      margin-bottom: 20px;
    }
    &__row{
      margin-top: 15px;
    }
    &__text{
      color: #929292;
    }
  }
  // Latest transactions
  &__transactions{

  }
  // My trade history
  &__tradeHistory{
    margin: 60px 0;
  }
  // My open orders
  &__openOrders{
    &__close{
      position: absolute;
      right: 15px;
      cursor: pointer;
    }
  }
}





















