@import "_variables";
.history{
  // header
  &__header{
    margin-bottom: 20px;
    .top-header{
      margin-bottom: 0;
    }
  }
  &__drop{
    /*margin-top: -20px;*/
  }
  .drop{
    min-width: 185px;
  }
  &-order,
  &-login,
  &-request{
    display: none;
  }
}






















