@media screen and (max-width: 1200px) {
  /* ========== Home style ========== */
  //getStarted
  .getStarted{
    &__btn{
      margin-top: 20px;
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // dashboard balance
    &__balance {
      &__col25 {
        padding-left: 10px;
        padding-right: 10px;
      }
      &__box {
        margin-left: 15px;
      }
      &__title {
        font-size: 16px;
        margin-bottom: 10px;
      }
      &__value {
        font-size: 16px;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    // addresses account
    &__account{
      &__row{
        padding: 20px 15px;
      }
      &__title{
        margin-bottom: 10px;
      }
      &__info{
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  /* ========== Home style ========== */
  //  Banner style
  .banner {
    min-height: 500px;
  }
  // choose style
  .choose {
    &-card {
      margin-bottom: 20px;
    }
  }
  //steps style
  .steps {
    padding-bottom: 40px;
    &__bgImg {
      background-image: none;
      min-height: auto;
    }
    &__title {
      text-align: center;
      padding-top: 0;
    }
  }
  //announcements style
  .announcements {
    &-card {
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      &__title {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      &__text {
        & ~ .announcements-card__text {
          margin-top: 10px;
        }
      }
      &__link {
        margin-top: 10px;
      }
    }
  }
  //footer style
  .footer {
    &-top {
      &__logo {
        margin-bottom: 18px;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 24px;
      }
      &__text{
        margin-bottom: 50px;
      }
      &__col {
        padding: 0 40px 0 0;
      }
    }
  }
  /* ========== About style ========== */
  //about we are
  .about-weAre {
    &__bgImg {
      background-size: 44%;
      background-position: right 28px;
    }
    &__block {
      margin-right: 0;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      & ~ .about-weAre__text {
        margin-top: 10px;
      }
    }
    &__btn {
      margin-top: 20px;
    }
  }
  // about secure
  .about-secure {
    &__bgImg {
      background-size: 44%;
      background-position: left 28px;
    }
    &__block {
      margin-left: 0;
    }
    &__title {
      margin-bottom: 10px;
    }
  }
  /* ========== Help style ========== */
  .help{
    &__accordion{
      display: block;
      width: 370px;
      height: 100%;
      background: #FFFFFF;
      overflow: auto;
      position: fixed;
      top: 0;
      left: -100%;
      transition: all 0.3s;
      z-index: 999;
    }
    &__content{
      padding-top: 30px;
      padding-left: 0;
    }
    &-tab--close{
      display: block;
      margin-top: 10px;
    }
    &__mobile--close{
      display: block;
      position: absolute;
      top: -5px;
      right: 5px;
      .close{
        font-size: 50px;
        font-weight: normal;
      }
    }
    &__title {
      font-size: 28px;
      margin-bottom: 15px;
    }
    &__text{
      & ~ .help__text {
        margin-top: 10px;
      }
    }
    &__list {
      margin: 15px 0;
    }
    &__item{
      line-height: 1.563;
    }
    &__subtitle {
      font-size: 18px;
      margin: 20px 0 10px 0;
    }
    &__FAQTitle {
      font-size: 16px;
      padding: 10px;
    }
    &__FAQText{
      & ~ .help__FAQText {
        padding-top: 10px;
      }
    }
    .card-body {
      padding: 10px;
    }
  }
  /* ========== Contact style ========== */
  // contact form
  .contact-form {
    &__span {
      display: inline;
    }
  }
  // contact info
  .contact-info {
    &__imgBox {
      width: 60px;
      height: 60px;
    }
    &__title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    &__col {
      margin-bottom: 20px;
    }
  }
  /* ========== Announcement style ========== */
  .announcement-inside {
    &-right {
      padding-left: 0;
      &__header{
        margin-bottom: 10px;
      }
      &__row {
        margin-bottom: 10px;
        padding-bottom: 10px;
      }
      &__title{
        margin-bottom: 0;
      }
    }
  }
  /* ========== Buy/Sell ========== */
  .buySell{
    // order book
    &__orderBook{
      &__row{
        font-size: 13px;
      }
    }
    // limit and market
    &__limitMarket{
      &__col{
        margin: 0;
      }
    }
    // charters
    &__drop{
      margin-bottom: 30px;
    }
    &__statistic{
      padding-right: 0;
      margin-bottom: 60px;
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // activity
    &__activity{
      &__date,
      &__text{
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__info,
      &__valueWithdraw,
      &__valueDeposit{
        font-size: 13px;
      }
      &__row {
        padding: 21px 10px;
      }
    }
    // announcements
    &__announcement{
      &__row{
        padding: 10px;
      }
      &__title{
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__text{
        font-size: 13px;
      }
      &__date{
        font-size: 13px;
        margin-top: 5px;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    // addresses account
    &__account{
      &__row{
        padding: 15px;
        flex-direction: column;
      }
      &__col6{
        width: 100%;
        justify-content: flex-end;
      }
      &__col15,
      &__col24,
      &__col25,
      &__col30,
      &__col50{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &__title{
        flex-shrink: 0;
      }
      &__info{
        flex-grow: 1;
        min-width: 1px;
        text-align: right;
        margin-left: 15px;
      }
      // dropdown btn style
      .dropdown-btn__list {
        top: 23px;
      }
    }
  }
  /* ========== settings tab ========== */
  .settings{
    .colWidth{
      width: 100%;
    }
    .padding--left {
      padding-left: 30px;
    }
    .padding--right{
      padding-right: 30px;
    }
  }
  /* ************* Global style ************* */
  /* ========== col left and right style ========== */
  .colWidth {
    width: 100%;
  }
  .colLeft {
    padding-right: 30px;
  }
  .colRight {
    padding-left: 30px;
  }
  /* ========== Container for table style ========== */
  .container-md {
    max-width: 100%;

    &__title {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  /* ========== Table lg style ========== */
  .table-lg {
    &-head {
      height: 45px;
      font-size: 13px;
    }

    &-row {
      height: 35px;
      font-size: 13px;
    }

    &-th {
      &--15,
      &--20,
      &--30 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  /* ========== Table md style ========== */
  .table-md {
    &-head {
      height: 35px;
      font-size: 13px;
    }

    &-row {
      height: 35px;
      font-size: 13px;
    }

    &-th {
      &--33 {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  /* ========== Pagination ========== */
  .pagination {
    &__link,
    &__disable,
    &__arrow {
      width: 35px;
      height: 35px;
      font-size: 13px;
    }
  }
  /* ========== Tabs style ========== */
  .main__child {
    .nav-link {
      font-size: 16px;
      padding: 10px 30px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 767px) {
  /* ========== Home style ========== */
  // main style
  .main{
    padding-top: 65px;
  }
  .button {
    font-size: 13px;
    padding: 10px 20px;
  }
  // header
  .header {
    height: 65px;
    padding: 0 15px;
    &__item {
      margin-right: 20px;
    }
    &__link {
      font-size: 13px;
    }
    &__btnItem{
      & ~ .header__btnItem {
        margin-left: 10px;
      }
    }
    &__user{
      .header__item{
        &:last-child {
          margin-right: 15px;
        }
      }
    }
    &__userMail{
      &__list{
        top: 35px;
      }
      &__text {
        font-size: 13px;
        padding-left: 15px;
      }
    }
  }
  // Banner
  .banner{
    min-height: 390px;
    &__title {
      font-size: 28px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__btn{
      &  ~ .banner__btn{
        margin-left: 10px;
      }
    }
  }
  // choose
  .choose{
    &__title {
      font-size: 28px;
    }
    &-card__title {
      font-size: 18px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  // steps
  .steps{
    &__title {
      font-size: 28px;
    }
    &__listTitle {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  // announcements
  .announcements{
    &__title {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }
  //getStarted
  .getStarted{
    &__title{
      margin-bottom: 10px;
    }
  }
  /* ========== About style ========== */
  // about we are
  .about-weAre{
    &__bgImg{
      background-image: none;
      min-height: auto;
    }
    &__block{
      margin-top: 0;
    }
    &__title{
      font-size: 28px;
    }
  }
  // about secure
  .about-secure{
    &__bgImg{
      background-image: none;
      min-height: auto;
    }
    &__block{
      margin-top: 0;
    }
    &__title{
      font-size: 28px;
    }
  }
  /* ========== Help style ========== */
  // help banner
  .help-banner{
    &__search{
      width: 100%;
    }
  }
  /* ========== Contact style ========== */
  // contact form
  .contact-form{
    padding: 30px 0 40px 0;
    &__title {
      margin-bottom: 10px;
    }
    &__text {
      margin-bottom: 30px;
    }
  }
  // contact info
  .contact-info{
    padding-bottom: 30px;
  }
  /* ========== Announcement style ========== */
  .announcement-inside {
    &-right {
      margin-top: 30px;
    }
  }
  /* ========== Auth style ========== */
  .auth{
    &-banner {
      background-size: 47%;
    }
    &-banner-2 {
      background-size: 47%;
    }
    &__span {
      display: inline-block;
    }
  }
  /* ========== Deposit ========== */
  .deposit {
    &__borderTop {
      border-top: 1px solid #dedede;
      padding-top: 50px;
    }
  }
  /* ========== Buy/Sell ========== */
  .buySell{
    // order book
    &__orderBook{
      &__col{
        margin-bottom: 30px;
      }
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // dashboard balance
    &__balance {
      &__box {
        margin-left: 10px;
      }
      &__title {
        font-size: 13px;
        margin-bottom: 5px;
      }
      &__text{
        font-size: 12px;
      }
      &__value{
        font-size: 13px;
      }
      &__col25{
        img{
          width: 40px;
        }
      }
    }
    // activity
    &__activity{
      &__boxCol{
        & ~ .dashboard__activity__boxCol{
          margin-top: 30px;
        }
      }
      &__rowTitle {
        padding: 15px 10px;
      }
      &__row{
        padding: 10px;
      }
      &__viewAll{
        font-size: 13px;
      }
      &__date,
      &__text{
        font-size: 14px;
      }
    }
    // announcements
    &__announcement{
      &__title{
        font-size: 14px;
        margin-bottom: 5px;
      }
    }
  }
  /* ========== settings tab ========== */
  .settings{
    .padding--left {
      padding-left: 0;
    }
    .padding--right{
      padding-right: 0;
    }
    .delete-padding--left{
      padding-left: 15px;
      border-left: none;
    }
    .delete-padding--right{
      padding-right: 15px;
    }
    &__doubleBorder {
      border-top: 1px solid #dedede;
      padding-top: 40px;
      margin-top: 40px;
    }
  }
  /* ************* Global style ************* */
  /* ========== col left and right style ========== */
  .colLeft{
    padding-right: 15px;
  }
  .colRight{
    padding-left: 15px;
    border-left: none;
    margin-top: 50px;
  }
  /* ========== Table lg and sm style ========== */
  .table-lg{
    display: none;
  }
  .table-sm{
    display: block;
  }
  /* ========== Tabs style ========== */
  .main__child {
    .nav-link {
      font-size: 16px;
      padding: 8px 10px;
    }
  }
  /* ========== dropdown btn ========== */
  .dropdown-btn{
    &__list{
      min-width: 300px;
      top: 54px;
      padding: 20px 10px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 576px) {
  .body{
    font-size: 13px;
  }
  /* ========== Home style ========== */
  /* ----- header style ----- */
  .header{
    &-mobile {
      display: block;
      margin-left: 10px;
    }
    &__list {
      display: block;
      width: 100%;
      height: 100%;
      background: #FFFFFF;
      overflow: auto;
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 99;
      padding-top: 65px;
      flex-direction: column;
      transition: all 0.3s;
    }
    &__link{
      font-size: 16px;
      text-align: center;
    }
    &__item {
      border-bottom: 1px solid #f3f3f3;
      margin-right: 0;
      padding: 20px 15px;
      & + .header__item {
        margin-left: 0;
      }
    }
    &__user{
      .header__item{
        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__userMail{
      &__text {
        border-left: 0;
        padding-left: 0;
      }
      &__list {
        min-width: 150px;
      }
      &__link{
        font-size: 13px;
      }
    }
  }
  // banner
  .banner{
    min-height: 280px;
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 13px;
    }
  }
  // choose
  .choose{
    &__title {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  // steps
  .steps{
    &__title {
      font-size: 24px;
      margin-bottom: 30px;
    }
    &__item{
      &~ .steps__item {
        margin-top: 20px;
      }
    }
    &__listNumber {
      width: 40px;
      height: 40px;
      font-size: 20px;
      margin-right: 20px;
    }
  }
  //announcements
  .announcements{
    &-card{
      &__details{
        font-size: 13px;
      }
    }
    &__title {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
  //getStarted
  .getStarted{
    &__title{
      font-size: 24px;
    }
  }
  //footer
  .footer{
    &-top{
      padding: 30px 0 0 0;
      &__logo{
        text-align: center;
      }
      &__title{
        text-align: center;
        font-size: 16px;
        margin-bottom: 5px;
      }
      &__text {
        margin-bottom: 0;
        text-align: justify;
        padding: 0 30px;
      }
      &__item{
        text-align: center;
      }
      &__col {
        padding: 0;
        margin: auto auto 30px auto;
      }
    }
  }
  /* ========== About style ========== */
  .about-banner,
  .help-banner,
  .contact-banner{
    min-height: 190px;
  }
  .about-banner__title,
  .help-banner__title,
  .contact-banner__title{
    font-size: 32px;
  }
  // about we are
  .about-weAre{
    &__title{
      font-size: 24px;
    }
  }
  // about secure
  .about-secure{
    &__title{
      font-size: 24px;
    }
  }
  /* ========== Help style ========== */
  // help banner
  .help-banner{
    &__search{
      margin: 15px auto auto auto;
      &__input {
        height: 40px;
      }
    }
  }
  // help section
  .help{
    &__accordion {
      width: 300px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    &__item{
      &:before {
        width: 5px;
        height: 5px;
        margin-right: 10px;
      }
    }
    &__FAQText{
      & ~ .help__FAQText {
        padding-top: 5px;
      }
    }
  }
  /* ========== Contact style ========== */
  // contact form
  .contact-form{
    &__col{
      margin-bottom: 10px;
    }
  }
  // contact info
  .contact-info{
    &__title{
      font-size: 16px;
    }
  }
  // contact map
  .contact-map{
    iframe{
      height: 190px;
    }
  }
  /* ========== Announcement style ========== */
  .announcement {
    &__body{
      padding: 40px 0;
    }
    &__text {
      margin-top: 10px;
    }
    &-right{
      &__header{
        font-size: 18px;
      }
    }
  }
  /* ========== Terms style ========== */
  .terms{
    &__body {
      padding: 50px 0;
    }
    &__text{
      & ~ .terms__text {
        margin-top: 10px;
      }
    }
  }
  /* ========== Auth style ========== */
  .auth{
    &-banner{
      background-image: none;
      .custom-control-label{
        margin-top: 5px;
      }
      .auth__form{
        margin: 20px auto auto auto;
      }
    }
    &-banner-2 {
      background-image: none;
    }
    &__title {
      font-size: 22px;
    }
    &__text {
      line-height: 1.2;
      margin-top: 10px;
    }
    &__details{
      font-size: 13px;
    }
    &__pass {
      border-left: 0;
      padding-left: 0;
    }
  }
  /* ========== Withdraw ========== */
  .withdraw{
    &__text,
    &__value{
      font-size: 13px;
    }
    &__result {
      margin-bottom: 25px;
      &__row {
        margin-bottom: 10px;
      }
    }
  }
  /* ========== Deposit ========== */
  .deposit{
    &__title {
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__text {
      & ~ .deposit__text {
        margin-top: 10px;
      }
    }
    &__info{
      margin-top: 15px;
      &__row{
        margin-bottom: 5px;
      }
    }
    &__barCode{
      img {
        width: 70%;
        padding: 15px;
      }
    }
  }
  /* ========== Buy/Sell ========== */
  .buySell{
    // limit and market
    &__limitMarket{
      &__col{
        padding: 15px;
      }
      &__row{
        margin-bottom: 5px;
      }
      &__mb{
        margin-bottom: 20px;
      }
    }
  }
  /* ========== dashboard tab ========== */
  .dashboard {
    // dashboard balance
    &__balance {
      display: none;
      &-sm{
        display: block;
      }
    }
  }
  /* ========== addresses tab ========== */
  .addresses{
    &__title{
      font-size: 16px;
      margin-right: 10px;
    }
    // addresses account
    &__account{
      &__row{
        padding: 10px;
      }
      &__title{
        font-size: 13px;
        margin-bottom: 10px;
      }
      &__info{
        font-size: 13px;
      }
    }
    // crypto addresses
    &__crypto{
      margin-top: 40px;
    }
  }
  /* ========== History tab ========== */
  .history{
    &__drop{
      margin-top: 20px;
    }
  }
  /* ========== settings tab ========== */
  .settings{
    &__title {
      font-size: 16px;
      margin-bottom: 20px;
    }
    &__row {
      margin-bottom: 10px;
    }
    &__doubleBorder,
    &__border {
      margin-top: 25px;
      padding-top: 25px;
    }
    &__form {
      margin-top: 15px;
    }
    &__btnRow {
      margin-top: 25px;
    }
    &__text{
      & ~ .settings__text {
        margin-top: 10px;
      }
    }
    &__generateText {
      margin-top: 20px;
    }
  }
  /* ************* Global style ************* */
  /* ========== Inside pages header style ========== */
  .top-header {
    font-size: 20px;
    margin-bottom: 20px;
  }
  /* ========== Dropdown style ========== */
  .drop{
    &__box{
      height: 40px;
      padding: 0 15px;
    }
    &__item{
      font-size: 13px;
      padding: 10px 15px;
    }
    &__value{
      font-size: 13px;
    }
  }
  /* ========== Label style ========== */
  .label {
    font-size: 13px;
    margin-bottom: 5px;
  }
  /* ========== Nesting form row ========== */
  .form__row,
  .withdraw .form__row,
  .deposit .form__row{
    margin-bottom: 15px;
  }
  /* ========== Input style ========== */
  .input{
    height: 40px;
    font-size: 13px;
    padding: 0 15px;
    &__pad{
      padding-right: 60px;
    }
  }
  /* ========== Container for table  ========== */
  .container-md{
    &__title {
      font-size: 16px;
    }
  }
  /* ========== Table sm style ========== */
  .table-sm{
    &__row{
      font-size: 13px;
    }
  }
  /* ========== Tabs style ========== */
  .main__child{
    .nav-link{
      font-size: 13px;
    }
  }
  /* ========== modal style ========== */
  .modal{
    &__body {
      padding: 20px;
    }
    &__text{
      font-size: 14px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 380px) {
  /* ========== Home style ========== */
  // choose
  .choose{
    &__title {
      font-size: 20px;
    }
    &-card{
      &__title {
        font-size: 16px;
      }
    }
  }
  // steps
  .steps {
    &__title {
      font-size: 20px;
    }
    &__listTitle {
      font-size: 16px;
    }
  }
  // announcements
  .announcements{
    &-card{
      &__title {
        font-size: 16px;
      }
    }
    &__title {
      font-size: 20px;
    }
  }
  //getStarted
  .getStarted{
    &__title{
      font-size: 20px;
    }
  }
  /* ========== About style ========== */
  // about we are
  .about-weAre{
    padding: 30px 0;
    &__title{
      font-size: 20px;
    }
  }
  // about secure
  .about-secure{
    padding: 30px 0;
    &__title{
      font-size: 20px;
    }
  }
  /* ========== Contact style ========== */
  // contact form
  .contact-form{
    &__title {
      font-size: 18px;
    }
  }
  /* ========== Auth style ========== */
  .auth{
    &__form{
      width: 100%;
    }
    &__title {
      font-size: 18px;
    }
  }
  /* ************* Global style ************* */
  /* ========== Pagination ========== */
  .pagination{
    &__link,
    &__disable,
    &__arrow{
      width: 28px;
      height: 28px;
    }
  }
  /* ========== Tabs style ========== */
  .main__child{
    .nav-item{
      margin-left: 1px;
      margin-right: 1px;
    }
    .nav-link{
      font-size: 13px;
      padding: 8px;
    }
  }
  /* ========== dropdown btn ========== */
  .dropdown-btn{
    &__list{
      min-width: 240px;
      top: 50px;
    }
  }
  /* ************* End of global style ************* */
}
@media screen and (max-width: 330px) {
  .button {
    font-size: 12px;
    padding: 7px 15px;
  }
  /* ************* Global style ************* */
  /* ========== Tabs style ========== */
  .main__child{
    .nav-link{
      font-size: 12px;
      padding: 6px;
    }
  }
  /* ************* End of global style ************* */
}































