// colors
$white: #ffffff;
$grey: rgb(139, 139, 139);
$dimGray: rgb(105, 105, 105);
$darkGrey: rgb(97, 97, 97);
$blue: #01567A;
$deepBlue: rgb(0, 36, 51);
$lightBlue: rgb(209, 241, 254);
$green: #20BB86;

// background colors
$bg_lightPink: #fafafa;



