@import "_variables";
// withdraw
.withdraw{
  margin-bottom: 50px;
  &__result{
    margin-bottom: 35px;
    &__row{
      margin-bottom: 20px;
    }
  }
  &__text{
    font-size: 15px;
    text-transform: capitalize;
    color: rgb(146, 146, 146);
  }
  &__value{
    font-size: 15px;
    color: #696969;
  }
}


























