<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX About</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../index.html">ISX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.html">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div>
                <a href="login.html" class="header__btn header__btnLight">Log in</a>
                <a href="signup.html" class="header__btn" >Sign up</a>
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <!-- banner section -->
    <section class="about-banner d-flex align-items-center">
        <div class="container">
            <h1 class="about-banner__title">About ISX</h1>
        </div>
    </section>
    <!-- who we are section -->
    <section class="about-weAre">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h5 class="about-weAre__title">Who we are</h5>
                    <p class="about-weAre__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.</p>
                    <p class="about-weAre__text">The ISX exchange market is designed with the best possible safety standards and methods. The purpose is to protect user information and security of underlying coins, as well as other funds, as well as user-friendly interface and secure business.</p>
                    <div>
                        <button class="about-weAre__button" type="button">Get started</button>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <img src="../img/about/about-who_we-are.png" alt="who we are"/>
                </div>
            </div>
        </div>
    </section>
    <!-- Secure exchange section -->
    <section class="about-secure">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6">
                    <img src="../img/about/about-secure.png" alt="secure"/>
                </div>
                <div class="col-6">
                    <h5 class="about-secure__title">Secure exchange</h5>
                    <p class="about-secure__text">User safety is our main priority. ISX is designed with the best safety standards and methods available. The purpose is to protect the user's information and the security of the underlying online bills, as well as other funds, as well as ensuring user-friendly interface and secure business.</p>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5 class="footer-top__logo">ISX</h5>
                    <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                        The ISX exchange market is designed with the best possible safety standards and methods.
                    </p>
                </div>
                <div class="col-3">
                    <h5 class="footer-top__title">Info on electronic coins</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">What is Bitcoin?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">What is an electronic coin?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">How do I sign up?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="footer-top__title">About</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">About ISX</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Our security</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">News</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Team</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="footer-top__title">Support</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Terms of Service</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Privacy Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">AML / KYC Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Anti fraud Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Contact us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>