<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX About</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header">
    <div>
        <a class="header__logo" href="../index.html">ISX</a>
    </div>
    <div class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="../index.html">Home</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="about.html">About</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="help.html">Help</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="contact.html">Contact</a>
            </li>
        </ul>
        <div class="header__buttons">
            <div class="header__btnItem">
                <a href="login.html" class="button btnLight">Log in</a>
            </div>
            <div class="header__btnItem">
                <a href="signup.html" class="button" >Sign up</a>
            </div>
        </div>
        <div class="header-mobile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<main class="main">
    <!-- banner section -->
    <section class="about-banner d-flex align-items-center">
        <div class="container">
            <h1 class="about-banner__title">About ISX</h1>
        </div>
    </section>
    <!-- who we are section -->
    <section class="about-weAre">
        <div class="container">
            <div class="about-weAre__bgImg">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <div class="about-weAre__block">
                            <h5 class="about-weAre__title">Who we are</h5>
                            <p class="about-weAre__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.</p>
                            <p class="about-weAre__text">The ISX exchange market is designed with the best possible safety standards and methods. The purpose is to protect user information and security of underlying coins, as well as other funds, as well as user-friendly interface and secure business.</p>
                            <div class="about-weAre__btn">
                                <a href="signup.html" class="button">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Secure exchange section -->
    <section class="about-secure">
        <div class="container">
            <div class="about-secure__bgImg">
                <div class="row justify-content-end">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <div class="about-secure__block">
                            <h5 class="about-secure__title">Secure exchange</h5>
                            <p class="about-secure__text">User safety is our main priority. ISX is designed with the best safety standards and methods available. The purpose is to protect the user's information and the security of the underlying online bills, as well as other funds, as well as ensuring user-friendly interface and secure business.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-top__col">
                        <h5 class="footer-top__logo">ISX</h5>
                        <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                            The ISX exchange market is designed with the best possible safety standards and methods.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Info on electronic coins</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is Bitcoin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is an electronic coin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">How do I sign up?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">About</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="about.html" class="footer-top__link">About ISX</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Our security</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="announcement.html" class="footer-top__link">Announcements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Support</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="terms.html" class="footer-top__link">Terms of Service</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Privacy Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">AML / KYC Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Anti fraud Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="contact.html" class="footer-top__link">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>