<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX Address</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header header__user">
    <div>
        <a class="header__logo" href="../index.html">ISX</a>
    </div>
    <div class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="#">Dashboard</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#">buy/sell</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="deposit.html">Deposit</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="withdraw.html">withdraw</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="history.html">history</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="address.html">address</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="settings.html">settings</a>
            </li>
        </ul>
        <div class="header__userMail">
            <p>jane452@gmail.com</p>
        </div>
        <div class="header-mobile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<main class="main addressesMain">
    <div class="main__child">
        <div class="container">
            <h3 class="inside-header">Addresses</h3>
            <!-- addresses header -->
            <section class="addresses">
                <div class="row">
                    <div class="col-12 addresses__row d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <h6 class="addresses__title">Bank accounts</h6>
                            <img src="../img/icons/info.png" alt="info"/>
                        </div>
                        <div class="addresses__add">
                            <a href="#" class="addresses__add__btn banner__btn button btnLight">add account</a>
                            <div class="addresses__add__list">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Account name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Account number">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Bank name">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Routing number">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <a href="" class="button">Add</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- addresses account row -->
            <section class="addresses-account">
                <div class="addresses-account__row addresses__row d-flex align-items-center">
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Account name</span>
                        <p class="addresses-account__info">My Arion bank N1</p>
                    </div>
                    <div class="addresses-account__col_30">
                        <span class="addresses-account__title">Account number</span>
                        <p class="addresses-account__info oe">125 45684 5854 5458 5642</p>
                    </div>
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Bank name</span>
                        <p class="addresses-account__info oe">JPMorgan Chase & Co.</p>
                    </div>
                    <div class="addresses-account__col_15">
                        <span class="addresses-account__title">Routing number</span>
                        <p class="addresses-account__info">125 2563</p>
                    </div>
                    <div class="addresses-account__col_5 addresses-account--delete">
                        <img src="../img/icons/delete.png" alt="delete"/>
                    </div>
                </div>
                <div class="addresses-account__row addresses__row d-flex align-items-center">
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Account name</span>
                        <p class="addresses-account__info">My Arion bank N1</p>
                    </div>
                    <div class="addresses-account__col_30">
                        <span class="addresses-account__title">Account number</span>
                        <p class="addresses-account__info oe">125 45684 5854 5458 5642</p>
                    </div>
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Bank name</span>
                        <p class="addresses-account__info oe">JPMorgan Chase & Co.</p>
                    </div>
                    <div class="addresses-account__col_15">
                        <span class="addresses-account__title">Routing number</span>
                        <p class="addresses-account__info">125 2563</p>
                    </div>
                    <div class="addresses-account__col_5 addresses-account--delete">
                        <img src="../img/icons/delete.png" alt="delete"/>
                    </div>
                </div>
                <div class="addresses-account__row addresses__row d-flex align-items-center">
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Account name</span>
                        <p class="addresses-account__info">My Arion bank N1</p>
                    </div>
                    <div class="addresses-account__col_30">
                        <span class="addresses-account__title">Account number</span>
                        <p class="addresses-account__info oe">125 45684 5854 5458 5642</p>
                    </div>
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Bank name</span>
                        <p class="addresses-account__info oe">JPMorgan Chase & Co.</p>
                    </div>
                    <div class="addresses-account__col_15">
                        <span class="addresses-account__title">Routing number</span>
                        <p class="addresses-account__info">125 2563</p>
                    </div>
                    <div class="addresses-account__col_5 addresses-account--delete">
                        <img src="../img/icons/delete.png" alt="delete"/>
                    </div>
                </div>
            </section>
        </div>
        <!-- crypto addresses row -->
        <section class="addresses-crypto">
            <div class="container">
                <div class="addresses__row d-flex align-items-center">
                    <h6 class="addresses__title">Crypto addresses</h6>
                    <img src="../img/icons/info.png" alt="info"/>
                </div>
                <div class="addresses-account__row addresses__row d-flex align-items-center">
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Currency</span>
                        <p class="addresses-account__info">ETH</p>
                    </div>
                    <div class="addresses-account__col_50">
                        <span class="addresses-account__title">Account number</span>
                        <p class="addresses-account__info oe">WXkmHEN4kLXEJyc8DASzPsYiu95o</p>
                    </div>
                    <div class="addresses-account__col_25">
                        <span class="addresses-account__title">Date</span>
                        <p class="addresses-account__info oe">
                            <span> Apr 04, 2018,</span>
                            <span>10:10</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-top__col">
                        <h5 class="footer-top__logo">ISX</h5>
                        <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                            The ISX exchange market is designed with the best possible safety standards and methods.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Info on electronic coins</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is Bitcoin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is an electronic coin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">How do I sign up?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">About</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="about.html" class="footer-top__link">About ISX</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Our security</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="announcement.html" class="footer-top__link">Announcements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Support</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="terms.html" class="footer-top__link">Terms of Service</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Privacy Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">AML / KYC Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Anti fraud Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="contact.html" class="footer-top__link">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>