<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX Contact</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../index.html">ISX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.html">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div>
                <a href="login.html" class="header__btn header__btnLight">Log in</a>
                <a href="signup.html" class="header__btn" >Sign up</a>
            </div>
        </div>
    </nav>
</header>
<main class="main">
    <!-- banner section -->
    <section class="contact-banner d-flex align-items-center">
        <div class="container">
            <h1 class="contact-banner__title">Contact us</h1>
        </div>
    </section>
    <!-- contact form section -->
    <section class="contact-form">
        <div class="container">
            <h2 class="contact-form__title">Have any questions? Our specialist will help you.</h2>
            <p class="contact-form__text">Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem ,
                <span class="contact-form__span">eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo.</span>
            </p>
            <form action="">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" placeholder="First name" value="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="text" class="form-control" placeholder="Last name" value="">
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="email" class="form-control" placeholder="Email" value="">
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="contact-form__button">send</button>
                </div>
            </form>
        </div>
    </section>
    <!-- contact info section -->
    <section class="contact-info">
        <div class="container">
            <div class="row">
                <div class="col-4 d-flex">
                    <div class="contact-info__imgBox">
                        <img src="../img/icons/message.png" alt="message"/>
                    </div>
                    <div>
                        <h5 class="contact-info__title">Email</h5>
                        <p class="contact-info__text">info@cryptodimes.com</p>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="contact-info__imgBox">
                        <img src="../img/icons/phone.png" alt="phone"/>
                    </div>
                    <div>
                        <h5 class="contact-info__title">Phone</h5>
                        <p class="contact-info__text">+ (882) 5541 1654</p>
                    </div>
                </div>
                <div class="col-4 d-flex">
                    <div class="contact-info__imgBox">
                        <img src="../img/icons/location.png" alt="location"/>
                    </div>
                    <div>
                        <h5 class="contact-info__title">address</h5>
                        <p class="contact-info__text">District 1 1656 Union Street Eureka
                            <span class="contact-info__span">707-445-6600</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact map section -->
    <section class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.697879546215!2d-73.94833088420933!3d40.702651029332884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25bfae0c4ffa1%3A0x4ca1a0fe1d8507a7!2sBroadway+Triangle%2C+Brooklyn%2C+NY+11206!5e0!3m2!1sen!2s!4v1537951207216" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5 class="footer-top__logo">ISX</h5>
                    <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                        The ISX exchange market is designed with the best possible safety standards and methods.
                    </p>
                </div>
                <div class="col-3">
                    <h5 class="footer-top__title">Info on electronic coins</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">What is Bitcoin?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">What is an electronic coin?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">How do I sign up?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="footer-top__title">About</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">About ISX</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Our security</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">News</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Team</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="footer-top__title">Support</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Terms of Service</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Privacy Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">AML / KYC Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Anti fraud Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Contact us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>