<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX Deposit</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header header__user">
    <div>
        <a class="header__logo" href="../index.html">ISX</a>
    </div>
    <div class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="#">buy/sell</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="deposit.html">Deposit</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="withdraw.html">withdraw</a>
            </li>
        </ul>
        <div class="header__userMail">
            <p class="header__userMail__text">jane452@gmail.com</p>
            <ul class="header__userMail__list">
                <li class="header__userMail__item">
                    <a href="#" class="header__userMail__link">Lorem ipsum dolor</a>
                </li>
                <li class="header__userMail__item">
                    <a href="#" class="header__userMail__link">Lorem ipsum dolor</a>
                </li>
                <li class="header__userMail__item">
                    <a href="#" class="header__userMail__link">Log out</a>
                </li>
            </ul>
        </div>
        <div class="header-mobile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<main class="main">
    <div class="main__child">
        <!-- deposit -->
        <section class="deposit">
            <div class="container">
                <h3 class="inside-header">Deposit</h3>
                <div class="row">
                    <section class="colLeft col-6 d-flex justify-content-end">
                        <div class="colWidth">
                            <h5 class="deposit__title">Fiat deposit</h5>
                            <p class="deposit__text">Now you can add the amount that suits you to the following account number, but it's very important to enter the 6-digit reference number below in the short "Reference" and / or "Short-term" fields in your home bank to separate your transfer.</p>
                            <p class="deposit__text">In Landsbankinn, Sparisjóður og Kviku, reference number shall be placed in "Reference" at Arion Bank and Íslandsbanki shall insert the reference number in the "Short-term" box.</p>
                            <p class="deposit__text">Once a transfer is completed, the reference number will disappear and you will need to make new payments for each transfer you make.</p>
                            <div class="deposit__infoRow">
                                <div class="d-flex deposit__infoRow--benef">
                                    <span class="deposit__info">Beneficiary:</span>
                                    <span class="deposit__value">4810140500</span>
                                </div>
                                <div class="d-flex">
                                    <span class="deposit__info">Account number:</span>
                                    <span class="deposit__value">0133-26-481014</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="colRight col-6">
                        <div class="colWidth">
                            <form>
                                <h5 class="deposit__title">Cryptocurrency deposit</h5>
                                <div class="drop__parent">
                                    <div class="drop deposit__formGroup">
                                        <div class="drop__buttonBox d-flex align-items-center justify-content-between">
                                            <span class="drop__button">BTC</span>
                                            <img src="../img/icons/arrow_down.png" alt="arrow down">
                                        </div>
                                        <ul class="drop__list">
                                            <li class="drop__item drop__none">
                                                <a href="#" class="drop__link">BTC</a>
                                            </li>
                                            <li class="drop__item">
                                                <a href="#" class="drop__link">ETH</a>
                                            </li>
                                            <li class="drop__item">
                                                <a href="#" class="drop__link">LTC</a>
                                            </li>
                                            <li class="drop__item">
                                                <a href="#" class="drop__link">Ripple</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="deposit__formGroup form-group">
                                    <label for="accountNumber" class="deposit__label">Send to this account number</label>
                                    <input type="text" id="accountNumber" class="form-control">
                                </div>
                            </form>
                            <div class="d-flex">
                                <div class="deposit__barCode">
                                    <img src="../img/bar-code.png" alt="bar code"/>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- deposit history -->
        <section class="deposit-history">
            <div class="container-fluid">
                <div class="tbl__container">
                    <h3 class="tbl__title">Deposit history</h3>
                    <!-- Withdraw table-->
                    <div class="tbl">
                        <div class="tbl-head d-flex align-items-center">
                            <div class="tbl-th--30">Date</div>
                            <div class="tbl-th--20">amount</div>
                            <div class="tbl-th--20">currency</div>
                            <div class="tbl-th--30">account/Address</div>
                            <div class="tbl-th--30">status</div>
                        </div>
                        <div class="tbt-body">
                            <div class="tbl-row d-flex align-items-center">
                                <div class="tbl-th--30 oe">2 hours ago</div>
                                <div class="tbl-th--20">25</div>
                                <div class="tbl-th--20">BTC</div>
                                <div class="tbl-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                <div class="tbl-th--30 oe">Completed</div>
                            </div>
                            <div class="tbl-row d-flex align-items-center">
                                <div class="tbl-th--30 oe">
                                    <span>Apr 12, 2018,</span>
                                    <span>10:10</span>
                                </div>
                                <div class="tbl-th--20">25</div>
                                <div class="tbl-th--20">BTC</div>
                                <div class="tbl-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                <div class="tbl-th--30 oe">Pending
                                    <span class="tbl-status">
                                        (2 confirmation)
                                    </span>
                                </div>
                            </div>
                            <div class="tbl-row d-flex align-items-center">
                                <div class="tbl-th--30 oe">2 hours ago</div>
                                <div class="tbl-th--20">25</div>
                                <div class="tbl-th--20">BTC</div>
                                <div class="tbl-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                <div class="tbl-th--30 oe">Completed</div>
                            </div>
                            <div class="tbl-row d-flex align-items-center">
                                <div class="tbl-th--30 oe">
                                    <span>Apr 12, 2018,</span>
                                    <span>10:10</span>
                                </div>
                                <div class="tbl-th--20">25</div>
                                <div class="tbl-th--20">BTC</div>
                                <div class="tbl-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                <div class="tbl-th--30 oe">Pending
                                    <span class="tbl-status">
                                        (2 confirmation)
                                    </span>
                                </div>
                            </div>
                            <div class="tbl-row d-flex align-items-center">
                                <div class="tbl-th--30 oe">2 hours ago</div>
                                <div class="tbl-th--20">25</div>
                                <div class="tbl-th--20">BTC</div>
                                <div class="tbl-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                <div class="tbl-th--30 oe">Completed</div>
                            </div>
                            <div class="tbl-row d-flex align-items-center">
                                <div class="tbl-th--30 oe">
                                    <span>Apr 12, 2018,</span>
                                    <span>10:10</span>
                                </div>
                                <div class="tbl-th--20">25</div>
                                <div class="tbl-th--20">BTC</div>
                                <div class="tbl-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                <div class="tbl-th--30 oe">Pending
                                    <span class="tbl-status">
                                        (2 confirmation)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- deposit pagination -->
        <section class="pagination">
            <div class="container">
                <div class="row">
                    <ul class="pagination__list d-flex align-items-center">
                        <li class="pagination__item">
                            <a class="pagination__linkDisable" href="#">
                                <img src="../img/icons/arrow-prev.png" alt="arrow previous"/>
                            </a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">1</a>
                        </li>
                        <li class="pagination__item active">
                            <a class="pagination__link pagination__link--active" href="#">2</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">3</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">4</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">5</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__linkDisable" href="#">...</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__link" href="#">20</a>
                        </li>
                        <li class="pagination__item">
                            <a class="pagination__linkDisable" href="#">
                                <img src="../img/icons/arrow-next.png" alt="arrow next"/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-top__col">
                        <h5 class="footer-top__logo">ISX</h5>
                        <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                            The ISX exchange market is designed with the best possible safety standards and methods.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Info on electronic coins</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is Bitcoin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is an electronic coin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">How do I sign up?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">About</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="about.html" class="footer-top__link">About ISX</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Our security</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="announcement.html" class="footer-top__link">Announcements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Support</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="terms.html" class="footer-top__link">Terms of Service</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Privacy Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">AML / KYC Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Anti fraud Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="contact.html" class="footer-top__link">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>