<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX Deposit</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- end of font -->
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
<header class="header header__user">
    <div>
        <a class="header__logo" href="../index.html">ISX</a>
    </div>
    <div class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="dashboard.html">Dashboard</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="buySell.html">buy/sell</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="deposit.html">Deposit</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="withdraw.html">withdraw</a>
            </li>
        </ul>
        <div class="header__userMail">
            <p class="header__userMail__text">jane452@gmail.com</p>
            <ul class="header__userMail__list">
                <li class="header__userMail__item">
                    <a href="#" class="header__userMail__link">Lorem ipsum dolor</a>
                </li>
                <li class="header__userMail__item">
                    <a href="#" class="header__userMail__link">Lorem ipsum dolor</a>
                </li>
                <li class="header__userMail__item">
                    <a href="#" class="header__userMail__link">Log out</a>
                </li>
            </ul>
        </div>
        <div class="header-mobile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<main class="main">
    <div class="main__child">
        <!-- deposit -->
        <section class="deposit">
            <div class="container">
                <h3 class="top-header">Deposit</h3>
                <div class="row">
                    <aside class="colLeft col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end">
                        <div class="colWidth">
                            <h5 class="deposit__title">Fiat deposit</h5>
                            <p class="deposit__text">Now you can add the amount that suits you to the following account number, but it's very important to enter the 6-digit reference number below in the short "Reference" and / or "Short-term" fields in your home bank to separate your transfer.</p>
                            <p class="deposit__text">In Landsbankinn, Sparisjóður og Kviku, reference number shall be placed in "Reference" at Arion Bank and Íslandsbanki shall insert the reference number in the "Short-term" box.</p>
                            <p class="deposit__text">Once a transfer is completed, the reference number will disappear and you will need to make new payments for each transfer you make.</p>
                            <div class="deposit__info">
                                <div class="d-flex align-items-center deposit__info__row">
                                    <span class="deposit__info__title">Beneficiary:</span>
                                    <span class="deposit__info__value">4810140500</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="deposit__info__title">Account number:</span>
                                    <span class="deposit__info__value">0133-26-481014</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                    <aside class="colRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="colWidth deposit__borderTop">
                            <form>
                                <h5 class="deposit__title">Cryptocurrency deposit</h5>
                                <div class="form__row">
                                    <select class="js-example-basic-single" name="state" style="width: 100%">
                                        <option value="BTC">BTC</option>
                                        <option value="ETH">ETH</option>
                                        <option value="LTC">LTC</option>
                                        <option value="Ripple">Ripple</option>
                                    </select>
                                </div>
                                <div class="form__row">
                                    <label for="depositSend" class="label">Send to this account number</label>
                                    <input type="text" id="depositSend" class="input">
                                </div>
                            </form>
                            <div class="d-flex justify-content-center">
                                <div class="deposit__barCode text-center">
                                    <img src="../img/bar-code.png" alt="bar code"/>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- history -->
        <section class="deposit-history">
            <div class="container-fluid">
                <div class="container-md">
                    <h3 class="container-md__title">Deposit history</h3>
                    <!-- table and pagination-->
                    <div class="table-pagination">
                        <!-- table-->
                        <div class="table-lg">
                            <div class="table-lg-head d-flex align-items-center">
                                <div class="table-lg-th--30">Date</div>
                                <div class="table-lg-th--20">amount</div>
                                <div class="table-lg-th--20">currency</div>
                                <div class="table-lg-th--30">account/Address</div>
                                <div class="table-lg-th--30">status</div>
                            </div>
                            <!-- table body -->
                            <div class="table-lg-body">
                                <div class="overlay-md">
                                    <img src="../img/icons/loader.gif" alt="loader"/>
                                </div>
                                <div class="table-lg-row d-flex align-items-center">
                                    <div class="table-lg-th--30">2 hours ago</div>
                                    <div class="table-lg-th--20">25</div>
                                    <div class="table-lg-th--20">BTC</div>
                                    <div class="table-lg-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                    <div class="table-lg-th--30">Completed</div>
                                </div>
                                <div class="table-lg-row d-flex align-items-center">
                                    <div class="table-lg-th--30">
                                        <span>Apr 12, 2018,</span>
                                        <span>10:10</span>
                                    </div>
                                    <div class="table-lg-th--20">25</div>
                                    <div class="table-lg-th--20">BTC</div>
                                    <div class="table-lg-th--30 oe">3J98t1WpEZ73CNmQviec</div>
                                    <div class="table-lg-th--30">Pending
                                        <a href="#" class="table-lg-link">
                                            (2 confirmation)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile table-->
                        <div class="table-sm">
                            <div class="overlay-md">
                                <img src="../img/icons/loader.gif" alt="loader"/>
                            </div>
                            <div class="table-sm__box">
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">Date</div>
                                    <div class="table-sm__text">2 hours ago</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">amount</div>
                                    <div class="table-sm__text">25</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">currency</div>
                                    <div class="table-sm__text">BTC</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">account/Address</div>
                                    <div class="table-sm__text oe">3J98t1WpEZ73CNmQviec</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">status</div>
                                    <div class="table-sm__text">Completed</div>
                                </div>
                            </div>
                            <div class="table-sm__box">
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">Date</div>
                                    <div class="table-sm__text">
                                        <span>Apr 12, 2018,</span>
                                        <span>10:10</span>
                                    </div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">amount</div>
                                    <div class="table-sm__text">25</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">currency</div>
                                    <div class="table-sm__text">BTC</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">account/Address</div>
                                    <div class="table-sm__text oe">3J98t1WpEZ73CNmQviec</div>
                                </div>
                                <div class="table-sm__row d-flex align-items-center justify-content-between">
                                    <div class="table-sm__head">status</div>
                                    <div class="table-sm__text">Pending
                                        <a href="#" class="table-lg-link">
                                            (2 confirmation)
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- pagination -->
                        <div class="pagination d-flex align-items-center justify-content-center">
                            <a class="pagination__arrow" href="javascript:void(0)">
                                <img src="../img/icons/arrow-prev.png" alt="arrow previous"/>
                            </a>
                            <a class="pagination__link" href="javascript:void(0)">1</a>
                            <a class="pagination__link pagination--active" href="javascript:void(0)">2</a>
                            <a class="pagination__link" href="javascript:void(0)">3</a>
                            <a class="pagination__link" href="javascript:void(0)">4</a>
                            <a class="pagination__link" href="javascript:void(0)">5</a>
                            <a class="pagination__disable" href="javascript:void(0)">...</a>
                            <a class="pagination__link" href="javascript:void(0)">20</a>
                            <a class="pagination__arrow" href="javascript:void(0)">
                                <img src="../img/icons/arrow-next.png" alt="arrow next"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-top__col">
                        <h5 class="footer-top__logo">ISX</h5>
                        <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                            The ISX exchange market is designed with the best possible safety standards and methods.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Info on electronic coins</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is Bitcoin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is an electronic coin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">How do I sign up?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">About</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="about.html" class="footer-top__link">About ISX</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Our security</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="announcement.html" class="footer-top__link">Announcements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Support</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="terms.html" class="footer-top__link">Terms of Service</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Privacy Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">AML / KYC Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Anti fraud Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="contact.html" class="footer-top__link">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>