<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ISX Help</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header">
    <div>
        <a class="header__logo" href="../index.html">ISX</a>
    </div>
    <div class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="../index.html">Home</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="about.html">About</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="help.html">Help</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="contact.html">Contact</a>
            </li>
        </ul>
        <div class="header__buttons">
            <div class="header__btnItem">
                <a href="login.html" class="button btnLight">Log in</a>
            </div>
            <div class="header__btnItem">
                <a href="signup.html" class="button" >Sign up</a>
            </div>
        </div>
        <div class="header-mobile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<main class="main">
    <!-- banner section -->
    <section class="help-banner d-flex align-items-center">
        <div class="container">
            <h1 class="help-banner__title">Help</h1>
            <div class="help-banner__search">
                <input class="help-banner__search__input" type="search" placeholder="Search">
                <img src="../img/icons/search.png" class="help-banner__search__icon" alt="search">
            </div>
        </div>
    </section>
    <!-- help section -->
    <section class="help">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="help-tab--close">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div id="accordion" class="help__accordion">
                        <div class="help__mobile--close">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card">
                            <div id="heading_1">
                                <div class="help__FAQTitle" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" aria-controls="collapse_1">
                                    General
                                </div>
                            </div>
                            <div id="collapse_1" class="collapse show" aria-labelledby="heading_1" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                        <a class="help__FAQText active show" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">
                                            What is ISX?</a>
                                        <a class="help__FAQText" id="v-pills-deposit-tab"  data-toggle="pill" href="#v-pills-deposit" role="tab" aria-controls="v-pills-deposit" aria-selected="false">
                                            How do I verify my identity?</a>
                                        <a class="help__FAQText" id="v-pills-exchange-tab" data-toggle="pill" href="#v-pills-exchange" role="tab" aria-controls="v-pills-exchange" aria-selected="false">
                                            How long it takes until my deposit shows in ISX?</a>
                                        <a class="help__FAQText" id="v-pills-security-tab" data-toggle="pill" href="#v-pills-security" role="tab" aria-controls="v-pills-security" aria-selected="false">
                                            How to enable 2-factor authentication?</a>
                                        <a class="help__FAQText" id="v-pills-basics-tab" data-toggle="pill" href="#v-pills-basics" role="tab" aria-controls="v-pills-basics" aria-selected="false">
                                            How to register?</a>
                                        <a class="help__FAQText" id="v-pills-community-tab" data-toggle="pill" href="#v-pills-community" role="tab" aria-controls="v-pills-community" aria-selected="false">
                                            Is my account safe?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_2">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                    Deposit and withdrawals
                                </div>
                            </div>
                            <div id="collapse_2" class="collapse" aria-labelledby="heading_2" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ex illo ipsa itaque iure molestias saepe sint, sit ut voluptatem?
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_3">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                    Exchange
                                </div>
                            </div>
                            <div id="collapse_3" class="collapse" aria-labelledby="heading_3" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_4">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                    Security
                                </div>
                            </div>
                            <div id="collapse_4" class="collapse" aria-labelledby="heading_4" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_5">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                    Basics
                                </div>
                            </div>
                            <div id="collapse_5" class="collapse" aria-labelledby="heading_5" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_6">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                                    Community
                                </div>
                            </div>
                            <div id="collapse_6" class="collapse" aria-labelledby="heading_6" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_7">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_7" aria-expanded="false" aria-controls="collapse_7">
                                    Exchange
                                </div>
                            </div>
                            <div id="collapse_7" class="collapse" aria-labelledby="heading_7" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_8">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_8" aria-expanded="false" aria-controls="collapse_8">
                                    Security
                                </div>
                            </div>
                            <div id="collapse_8" class="collapse" aria-labelledby="heading_8" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_9">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_9" aria-expanded="false" aria-controls="collapse_9">
                                    Basics
                                </div>
                            </div>
                            <div id="collapse_9" class="collapse" aria-labelledby="heading_9" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="heading_10">
                                <div class="help__FAQTitle collapsed" data-toggle="collapse" data-target="#collapse_10" aria-expanded="false" aria-controls="collapse_10">
                                    Community
                                </div>
                            </div>
                            <div id="collapse_10" class="collapse" aria-labelledby="heading_10" data-parent="#accordion">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="help__content tab-content" id="v-pills-tabbContent">
                        <div class="tab-pane fade active show" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
                            <h4 class="help__title">What is ISX?</h4>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                            <p class="help__text">Nemo enim ipsam voluptatem aut odit aut fugit, sed conequuntur magni dolores eos eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                            <p class="help__text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure rehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, illum qui dolorem eum fugiat quo voluptas nulla pariatur</p>
                            <ul class="help__list">
                                <li class="help__item">Perspiciatis unde omnis iste natus error sit voluptatem </li>
                                <li class="help__item">Accusantium doloremque lauda ntium, totam rem aperiam</li>
                                <li class="help__item">Baque ipsa quae ab illo inventore veritatis et quasi architect</li>
                            </ul>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                            <div>
                                <h6 class="help__subtitle">Related articles</h6>
                                <a href="#" class="help__subtitleLink">How to register?</a>
                                <a href="#" class="help__subtitleLink">How do I verify my identity?</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-deposit" role="tabpanel" aria-labelledby="v-pills-deposit-tab">
                            <h4 class="help__title">How do I verify my identity?</h4>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-exchange" role="tabpanel" aria-labelledby="v-pills-exchange-tab">
                            <h4 class="help__title">How long it takes until my deposit shows in ISX?</h4>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-security" role="tabpanel" aria-labelledby="v-pills-security-tab">
                            <h4 class="help__title">How to enable 2-factor authentication?</h4>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-basics" role="tabpanel" aria-labelledby="v-pills-basics-tab">
                            <h4 class="help__title">How to register?</h4>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                        <div class="tab-pane fade" id="v-pills-community" role="tabpanel" aria-labelledby="v-pills-community-tab">
                            <h4 class="help__title">Is my account safe?</h4>
                            <p class="help__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-top__col">
                        <h5 class="footer-top__logo">ISX</h5>
                        <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                            The ISX exchange market is designed with the best possible safety standards and methods.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Info on electronic coins</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is Bitcoin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">What is an electronic coin?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">How do I sign up?</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 d-flex justify-content-lg-center">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">About</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="about.html" class="footer-top__link">About ISX</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Our security</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="announcement.html" class="footer-top__link">Announcements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 d-flex justify-content-lg-end">
                    <div class="footer-top__col">
                        <h5 class="footer-top__title">Support</h5>
                        <ul class="footer-top__list">
                            <li class="footer-top__item">
                                <a href="terms.html" class="footer-top__link">Terms of Service</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Privacy Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">AML / KYC Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="#" class="footer-top__link">Anti fraud Policy</a>
                            </li>
                            <li class="footer-top__item">
                                <a href="contact.html" class="footer-top__link">Contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>