<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- end of font -->
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="body">
<header class="header">
    <div>
        <a class="header__logo" href="../index.html">ISX</a>
    </div>
    <div class="header__nav">
        <ul class="header__list">
            <li class="header__item">
                <a class="header__link" href="../index.html">Home</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="about.html">About</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="help.html">Help</a>
            </li>
            <li class="header__item">
                <a class="header__link" href="contact.html">Contact</a>
            </li>
        </ul>
        <div class="header__buttons">
            <div class="header__btnItem">
                <a href="login.html" class="button btnLight">Log in</a>
            </div>
        </div>
        <div class="header-mobile">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
<main>
    <section class="auth-banner">
        <div class="auth-banner-2 d-flex align-items-center">
            <div class="container">
                <h1 class="auth__title">Sign up and exchange crypto now!</h1>
                <p class="auth__text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque error
                    <span class="auth__span">voluptatem accusantium unde omnis iste natus sit</span>
                </p>
                <div class="auth__form">
                    <form action="">
                        <div class="form__row">
                            <input type="email" class="input" aria-describedby="emailHelp" placeholder="Email">
                        </div>
                        <div class="form__row">
                            <input type="password" class="input" placeholder="Create password">
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label auth__details" for="customCheck1">I agree to the Cryptodimes
                                    <a href="terms.html" class="auth__link">Terms of Service</a>
                                </label>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck2">
                                <label class="custom-control-label auth__details" for="customCheck2">Lorem ipsum dolor
                                    <a href="#" class="auth__link">Lorem ipsum</a>
                                </label>
                            </div>
                        </div>
                        <div class="auth__buttonRow d-flex justify-content-center">
                            <button type="submit" class="button">Sign up</button>
                        </div>
                        <div class="auth__line">
                            <p class="auth__details">Already have an account?
                                <a href="login.html" class="auth__link">Log in</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>