<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Terms</title>
    <link rel="stylesheet" href="../css/libs.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,400,700" rel="stylesheet">
</head>
<body class="body">
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="../index.html">ISX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="help.html">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
            </ul>
            <div>
                <a href="login.html" class="header__btn header__btnLight">Log in</a>
                <a href="signup.html" class="header__btn" >Sign up</a>
            </div>
        </div>
    </nav>
</header>

<main class="main">
    <!-- news content section -->
    <section class="terms">
        <div class="container">
            <div class="terms__body">
                <h5 class="terms__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, voluptatem</h5>
                <p class="terms__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque , totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque quisquam est, dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <p class="terms__text">Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non eius modi tempora incidunt ut labore et dolore magnam voluptatem.</p>
                <p class="terms__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque , totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque quisquam est, dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <section class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <h5 class="footer-top__logo">ISX</h5>
                    <p class="footer-top__text">ISX is the first Icelandic exchange market that offers trade in electronic coins, such as Auroracoin and Bitcoin for Icelandic krónur.
                        The ISX exchange market is designed with the best possible safety standards and methods.
                    </p>
                </div>
                <div class="col-3">
                    <h5 class="footer-top__title">Info on electronic coins</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">What is Bitcoin?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">What is an electronic coin?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">How do I sign up?</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="footer-top__title">About</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">About ISX</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Our security</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">News</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Team</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="footer-top__title">Support</h5>
                    <ul class="footer-top__list">
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Terms of Service</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Privacy Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">AML / KYC Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Anti fraud Policy</a>
                        </li>
                        <li class="footer-top__item">
                            <a href="#" class="footer-top__link">Contact us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <p class="footer-bottom__text">Copyright Ⓒ 2018. isx.is. All rights reserved</p>
        </div>
    </section>
</footer>
<script src="../js/libs.min.js"></script>
<script src="../js/common.js"></script>
</body>
</html>